.entity-selector {
  &__overlay {
    @extend %overlay;

    z-index: $zindex-dropdown - 1;
  }

  &__control {
    z-index: $zindex-dropdown;
  }

  &__proposition-list {
    z-index: $zindex-dropdown;
    margin-top: -1px;
    position: absolute;
    border: 1px solid $border-color-base;
    background-color: $component-background-base;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow-y: auto;

    &__item {
      @extend %list-item;

      text-align: left;
      width: auto;

      &[disabled] {
        color: $font-color-muted;
      }

      &--action {
        text-align: center;
      }
    }
  }
}
