import Vue from 'vue'
import api from '../../lib/api'
<%
 # user_preference
 to_mutate_one = name.singularize
 # user_preferences
 to_mutate_many = name.pluralize
 base_url = to_mutate_many
 payload_key = to_mutate_one
 # userPreferences
 state_collection = name.camelize(:lower)
 getter_all = state_collection
 # userPreference
 getter_one = name.singularize.camelize(:lower)
 # UserPreferences
 do_all = name.camelize
 # UserPreferences
 do_one = name.singularize.camelize
 %>
export default {
  state: {
    <%= state_collection %>: [],
  },
  mutations: {
    set_<%= to_mutate_many %> (state, data) {
      state.<%= state_collection %> = data
    },
    set_<%= to_mutate_one %> (state, data) {
      let index = state.<%= state_collection %>.findIndex(e => e.id === data.id)
      if (index > -1) Vue.set(state.<%= state_collection %>, index, data)
      else state.<%= state_collection %>.push(data)
    },
    delete_<%= to_mutate_one %> (state, id) {
      let index = state.<%= state_collection %>.findIndex(e => e.id === id)
      if (index > -1) Vue.delete(state.<%= state_collection %>, index)
    },
    reset_<%= to_mutate_many %> (state) {
      state.<%= state_collection %> = []
    },
  },
  actions: {
    load<%= do_all %>: ({ getters, commit }) => {
      const groupId = getters.currentGroupId

      return api.get(`/api/groups/${groupId}/<%= base_url %>`)
        .then(({ body }) => { commit('set_<%= to_mutate_many %>', body) })
    },
    save<%= do_one %>: ({ getters, commit }, payload) => {
      const groupId = getters.currentGroupId

      const action = payload.id ? 'patch' : 'post'
      const url = `/api/groups/${groupId}/<%= base_url %>${payload.id ? `/${payload.id}` : ''}`
      return api[action](url, { <%= payload_key %>: payload })
        .then(({ body }) => { commit('set_<%= to_mutate_one %>', body) })
    },
    destroy<%= do_one %>: ({ getters, commit }, id) => {
      const groupId = getters.currentGroupId

      return api.delete(`/api/groups/${groupId}/<%= base_url %>/${id}`)
        .then(() => { commit('delete_<%= to_mutate_one %>', id) })
    },
    reset<%= do_all %>: ({ commit }) => { commit('reset_<%= to_mutate_many %>') },
  },
  getters: {
    <%= getter_all %>: state => state.<%= state_collection %>,
    <%= getter_one %>: state => (id) => {
      const index = state.<%= state_collection %>.findIndex(entry => entry.id === id)
      if (index > -1) return state.<%= state_collection %>[index]
      return null
    },
  },
}
