<template>
  <div class="group element">
    <header class="element__header">
      <toggle-arrow :expanded="showContent" />
      <timed-feedback ref="titleFeedback"
                      tag="h2"
                      class="element__header__title clickable"
                      :class="{ danger: error}"
                      @click.native="showContent = !showContent">
        <template slot="feedback">{{ error || $t('generic.form_error') }}</template>
        {{ group.name }}
      </timed-feedback>
      <button type="button"
              class="element__header__action"
              :disabled="isCurrentGroup"
              @click="setCurrentGroup(group.id)">
        Use
      </button>
      <icon-button icon="edit"
                   :label="$t('generic.edit')"
                   class="element__header__action edit"
                   :disabled="!isCreator"
                   @click="$emit('edit')" />
      <dropdown :title="$t('generic.more_actions')" icon="more" class="element__header__action">
        <button type="button" class="destroy" :disabled="!isCreator" @click="destroy">{{ $t('generic.destroy') }}</button>
        <button type="button" class="destroy" :disabled="isCreator" @click="leave">{{ $t('groups.leave') }}</button>
      </dropdown>
    </header>
    <div v-show="showContent" class="element__content">
      <dl class="dl-right">
        <dt>{{ $t('groups.fields.def_owner') }}</dt>
        <dd>{{ isCreator ? 'you' : creator.name }}</dd>

        <dt>{{ $t('generic.def_creation_date') }}</dt>
        <dd>{{ group.created_at | niceDate }}</dd>

        <dt>{{ $t('generic.def_update_date') }}</dt>
        <dd>{{ group.updated_at | niceDate }}</dd>
      </dl>

      <h2 class="divider">{{ $t('groups.stats') }}</h2>

      <dl class="dl-right">
        <dt>{{ $t('generic.def_containers') }}</dt>
        <dd>{{ containersCount }}</dd>

        <dt>{{ $t('generic.def_items') }}</dt>
        <dd>{{ itemsCount }}</dd>

        <dt>{{ $t('generic.def_categories') }}</dt>
        <dd>{{ categoriesCount }}</dd>
      </dl>

      <template v-if="isCreator">
        <h2 class="divider">{{ $t('groups.invite_title') }}</h2>
        <p>
          {{ $t('groups.invite_help') }}
        </p>
        <form action="invite" class="group__invite-form" @submit.prevent="invite">
          <label for="group-invite-email">{{ $t('users.fields.email') }}</label>
          <input id="group-invite-email" v-model="inputs.email" name="email" type="email">
          <button type="submit" class="add" :disabled="loading">{{ $t('groups.invite_button') }}</button>
        </form>
        <div v-if="inviteError" class="error">
          {{ $t('groups.invite_error') }}
        </div>
      </template>

      <h2 class="divider">{{ $t('groups.members') }}</h2>
      <group-user-item v-for="user in users"
                       :key="user.id"
                       :user="user"
                       :group="group" />
    </div>
  </div>
</template>

<script>
import DateFiltersMixin from '../../filters/date'
import GroupPickerMixin from '../../mixins/group-picker'
import Dropdown from '../ui/Dropdown'
import TimedFeedback from '../ui/TimedFeedback'
import ToggleArrow from '../ui/ToggleArrow'
import GroupUserItem from './_User'
import IconButton from '../ui/IconButton'

/*
Parent component should handle the edition form on @edit
*/
export default {
  name: 'GroupItem',
  components: { IconButton, TimedFeedback, Dropdown, GroupUserItem, ToggleArrow },
  mixins: [DateFiltersMixin, GroupPickerMixin],
  props: {
    group: { required: true, type: Object },
  },
  data () {
    return {
      showContent: false,
      loading: false,
      inviteError: null,
      inputs: this.resetInputs(),
      error: null,
    }
  },
  computed: {
    authUser () { return this.$store.getters.authUser },
    creator () { return this.$store.getters.user(this.$props.group.creator_id) },
    isCreator () { return this.authUser.id === this.group.creator_id },
    containersCount () { return this.$store.getters.containers.length },
    itemsCount () { return this.$store.getters.items.length },
    categoriesCount () { return this.$store.getters.categories.length },
    users () {
      return this.$store.getters.usersByIds(this.$props.group.user_ids)
        .sort((a, b) => a.name.localeCompare(b.name))
    },
    isCurrentGroup () { return this.currentGroup && this.currentGroup.id === this.group.id },
  },
  methods: {
    destroy () {
      this.error = null
      this.$store.dispatch('destroyGroup', this.$props.group.id)
        .catch(() => { this.error = true })
    },
    leave () {
      this.error = null
      this.$store.dispatch('leaveGroup', this.$props.group.id)
        .catch(() => { this.error = true })
    },
    resetInputs () {
      return { email: '' }
    },
    invite () {
      this.loading = true
      this.inviteError = null
      this.$store.dispatch('inviteGroupUser', { groupId: this.$props.group.id, payload: this.inputs })
        .then(() => { this.inputs = this.resetInputs() })
        .catch(() => { this.inviteError = true })
        .then(() => {
          this.loading = false
        })
    },
  },
  watch: {
    error (newVal) {
      if (newVal) { this.$refs.titleFeedback.start() }
    },
  },
}
</script>
