<template>
  <div class="user list-element list-element--noaction">
    <div class="list-element__content">
      <img v-if="user.avatar_50" :src="user.avatar_50" alt="Avatar" class="avatar avatar--small">
      {{ user.name }}
      <small v-if="isAuthUser">
        &mdash; {{ $t('users.thats_you') }}
      </small>
    </div>
    <button v-if="authUserIsCreator && !isAuthUser"
            type="button"
            class="list-element__action destroy"
            @click="remove">
      {{ $t('generic.remove') }}
    </button>
  </div>
</template>

<script>
import DateFiltersMixin from '../../filters/date'

/*
Parent component should handle the edition form on @edit
*/
export default {
  name: 'GroupUserItem',
  mixins: [DateFiltersMixin],
  props: {
    group: { required: true, type: Object },
    user: { required: true, type: Object },
  },
  computed: {
    authUser () { return this.$store.getters.authUser },
    isAuthUser () { return this.authUser.id === this.$props.user.id },
    authUserIsCreator () { return this.authUser.id === this.$props.group.creator_id },
  },
  methods: {
    remove () { this.$store.dispatch('removeGroupUser', { groupId: this.$props.group.id, userId: this.$props.user.id }) },
  },
}
</script>
