<template>
  <div>
    <header class="toolbar">
      <h1 class="toolbar__title">
        <icon name="group" /> {{ $t('groups.index.title') }}
      </h1>
      <loading v-show="loading" class="toolbar__action">
        {{ $t('generic.refreshing') }}
      </loading>
      <button type="button" class="toolbar__action add" @click="add">{{ $t('generic.add') }}</button>
    </header>

    <div class="page-content">
      <div class="groups">
        <empty v-if="groups.length === 0" icon="group">
          <p>{{ $t('groups.index.no_group') }}</p>
          <button type="button" class="add" @click="add">{{ $t('groups.index.create_button') }}</button>
        </empty>

        <group v-for="group in groups"
               :key="group.id"
               :group="group"
               @edit="edit(group)" />
      </div>
    </div>

    <!-- Form -->
    <side-panel :opened="displayForm"
                :title="currentEntity ? $t('groups.form.edition') : $t('groups.form.new')"
                @close="cancelEdition">
      <group-form ref="groupForm"
                  :group="currentEntity"
                  @cancel="cancelEdition" />
    </side-panel>
  </div>
</template>

<script>
import IndexEntityEdition from '../../mixins/index-entity-edition'
import DataLoad from '../../mixins/data-load'
import Empty from '../ui/Empty'
import SidePanel from '../ui/SidePanel'
import GroupForm from './_Form'
import Group from './_Group'
import Icon from '../ui/Icon'
import Loading from '../ui/Loading'

export default {
  name: 'GroupIndex',
  components: { Loading, Icon, Empty, SidePanel, GroupForm, Group },
  mixins: [DataLoad, IndexEntityEdition],
  data () {
    return {
      loadActions: ['loadGroups', 'loadUsers'],
      mainFormRef: 'groupForm',
    }
  },
  computed: {
    groups () {
      return [ ...this.$store.getters.groups ]
        .sort((a, b) => a.name.localeCompare(b.name))
    },
  },
}
</script>
