<template>
  <div class="entity-selector">
    <div v-show="showResults" class="entity-selector__overlay" @click="apply" />
    <input :id="controlId"
           v-model="search"
           type="text"
           class="entity-selector__control"
           @click="openSearch"
           @keypress="showResults = true">

    <div v-show="showResults" class="entity-selector__proposition-list">
      <button v-show="search.length > 0"
              type="button"
              class="entity-selector__proposition-list__item entity-selector__proposition-list__item--action clear"
              @click="search=''">
        {{ $t('ui.forms.entity_selector.clear') }}
      </button>
      <button v-for="result in searchResults"
              :key="result.id"
              :disabled="isDisabled(result.id)"
              type="button"
              class="entity-selector__proposition-list__item"
              @click="select(result)">
        {{ result.name }}
      </button>
      <empty v-if="searchResults.length === 0" :inline="true">
        {{ $t('ui.forms.entity_selector.nothing_selectable') }}
      </empty>
      <button v-if="allowCreation"
              type="button"
              class="entity-selector__proposition-list__item entity-selector__proposition-list__item--action add"
              @click="$emit('add')">
        {{ $t('ui.forms.entity_selector.create_new') }}
      </button>
    </div>
  </div>
</template>

<script>
import s from '../../../lib/search'
import Empty from '../Empty'

export default {
  name: 'EntitySelector',
  components: { Empty },
  props: {
    allowCreation: { required: false, type: Boolean, default: true },
    disable: { required: false, type: [Array], default: () => [] },
    displayField: { required: true, type: String },
    getter: { required: true, type: String },
    value: { required: false, type: [Number, String], default: null },
    controlId: { required: true, type: String },
    limit: { required: false, type: Number, default: 5 },
    showDisabled: { required: false, type: Boolean, default: false },
  },
  data () {
    return {
      search: '',
      selected: null,
      showResults: false,
      selectedTitle: '',
      previousSearch: '',
    }
  },
  computed: {
    entities () { return this.$store.getters[this.$props.getter] },
    searchResults () {
      const that = this
      let results = this.entities.filter(e => s.levenshteinFilter(this.search, e.name))
      if (!this.$props.showDisabled) {
        results = results.filter(e => that.$props.disable.indexOf(e.id) === -1)
      }
      if (this.$props.limit > 0) return results.slice(0, this.$props.limit)

      return results
    },
  },
  methods: {
    openSearch () {
      this.search = ''
      this.showResults = true
    },
    select (entity) {
      if (this.isDisabled(entity.id)) return
      this.selected = entity
      this.apply()
      this.$emit('input', entity ? entity.id : '')
    },
    apply () {
      this.showResults = false
      if (this.selected) {
        this.search = this.selected[this.$props.displayField]
      } else {
        this.search = ''
      }
    },
    isDisabled (id) {
      if (this.selected && id === this.selected.id) return false
      return this.$props.disable.indexOf(id) > -1
    },
  },
  watch: {
    value (newVal) {
      this.selected = newVal ? this.entities.find(e => e.id === newVal) : null
      this.apply()
    },
  },
}
</script>
