<template>
  <div v-if="hasError">
    <div v-for="(message, index) in messages" :key="index" class="error">
      {{ message }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'FormFieldError',
  props: {
    errors: { required: false, type: [Object, null], default: null },
    field: { required: true, type: String },
  },
  computed: {
    hasError () { return this.$props.errors && this.errors.hasOwnProperty(this.$props.field) },
    messages () {
      if (!this.hasError) return []

      return this.errors[this.field]
    },
  },
}
</script>
