<template>
  <dropdown :title="$t('ui.assigned_items.title')">
    <span slot="trigger"
          class="badge"
          :class="{'badge--warning': amount > 0}">
      {{ amount }}
    </span>
    <shopping-lists-item-item v-for="item in assignedItems" :key="item.id" :shopping-lists-item="item" :compact="true" />
    <empty v-if="amount === 0">{{ $t('ui.assigned_items.no_item_assigned') }}</empty>
  </dropdown>
</template>

<script>
import Dropdown from './Dropdown'
import Empty from './Empty'
import ShoppingListsItemItem from '../shopping_lists_items/_ShoppingListsItem'

export default {
  name: 'AssignedItems',
  components: { ShoppingListsItemItem, Empty, Dropdown },
  computed: {
    assignedItems () { return this.$store.getters.assignedItems },
    amount () { return this.assignedItems.length },
  },
}
</script>
