<template>
  <div class="dropdown">
    <icon-button v-if="icon" :icon="icon" :label="title" @click="opened = !opened" />
    <button v-else
            type="button"
            :title="title"
            :aria-labelledby="title"
            :disabled="disabled"
            @click="opened = !opened">
      <slot name="trigger">{{ title }}</slot>
    </button>

    <menu v-show="opened" @click="close">
      <slot />
    </menu>
    <div v-show="opened" class="dropdown__overlay" @click="close" />
  </div>
</template>

<script>
import IconButton from './IconButton'

export default {
  name: 'Dropdown',
  components: { IconButton },
  props: {
    title: { required: false, type: String, default: 'click me' },
    icon: { required: false, type: String, default: null },
    disabled: { required: false, type: Boolean, default: false },
  },
  data () {
    return {
      opened: false,
    }
  },
  methods: {
    close () { this.opened = false },
  },
}
</script>
