<template>
  <div class="empty" :class="{'empty--inline': inline}">
    <div class="empty__icon">
      <icon :name="icon" />
    </div>
    <slot>{{ $t('ui.empty.text') }}</slot>
  </div>
</template>

<script>
import Icon from './Icon'

export default {
  name: 'Empty',
  components: { Icon },
  props: {
    icon: { required: false, type: String, default: 'empty' },
    inline: { required: false, type: Boolean, default: false },
  },
}
</script>
