<template>
  <div v-if="groups.length > 0" class="group-picker">
    <div class="group-picker__header">
      <button class="group-picker__header__title" @click="showList = !showList">
        <toggle-arrow :expanded="showList" />
        {{ currentGroup ? $t('ui.group_picker.change_group') : $t('ui.group_picker.select_group') }}
      </button>
    </div>
    <div v-show="showList" class="group-picker__list">
      <button v-for="group in groups"
              :key="group.id"
              type="button"
              class="group-picker__list__item"
              @click="setCurrentGroup(group.id)">
        {{ group.name }}
      </button>
    </div>
  </div>
  <div v-else class="alert alert--error">
    {{ $t('ui.group_picker.no_group') }}
  </div>
</template>

<script>
import GroupPickerMixin from '../../mixins/group-picker'
import ToggleArrow from './ToggleArrow'

export default {
  name: 'GroupPicker',
  components: { ToggleArrow },
  mixins: [GroupPickerMixin],
  data () {
    return {
      showList: false,
    }
  },
  computed: {
    groups () { return this.$store.getters.groups },
  },
}
</script>
