<template>
  <svg class="icon" :class="{ 'icon--spin': spin }" viewBox="0 0 24 24">
    <use :xlink:href="`${definitionFile}#icon-${name}`" />
  </svg>
</template>

<script>
import definitionFile from '~../../../assets/images/icons-symbols.svg'

export default {
  name: 'Icon',
  props: {
    name: { required: true, type: String },
    spin: { required: false, type: Boolean, default: false },
  },
  data () {
    return { definitionFile }
  },
}
</script>
