<template>
  <button type="button"
          class="icon-button"
          :title="label"
          :aria-labelledby="label"
          @click="$emit('click')">
    <icon :name="icon" />
    <slot />
  </button>
</template>
<script>
import Icon from './Icon'

export default {
  name: 'IconButton',
  components: { Icon },
  props: {
    icon: { required: true, type: String },
    label: { required: false, type: String, default: '' },
  },
}
</script>
