<template>
  <div class="loading" :class="{ 'loading--overlay': fullscreen }">
    <div class="loading__icon">
      <icon name="loading" :spin="true" />
    </div>
    <slot>{{ $t('ui.loading.text') }}</slot>
  </div>
</template>

<script>
import Icon from './Icon'

export default {
  name: 'Loading',
  components: { Icon },
  props: {
    fullscreen: { required: false, type: Boolean, default: false },
  },
}
</script>
