<template>
  <div class="main-menu">
    <group-picker @navigated="clicked" />
    <router-link :to="{name: 'groups'}" class="main-menu__item" @click.native="clicked"><icon name="group" /> {{ $t('ui.main_menu.manage_groups') }}</router-link>

    <template v-if="currentGroup">
      <h2 class="divider">{{ $t('ui.main_menu.def_group') }} {{ currentGroup.name }}</h2>
      <router-link :to="{name: 'items'}" class="main-menu__item" @click.native="clicked">
        <icon name="item" /> {{ $t('ui.main_menu.items') }}
      </router-link>
      <router-link :to="{name: 'categories'}" class="main-menu__item" @click.native="clicked">
        <icon name="category" /> {{ $t('ui.main_menu.categories') }}
      </router-link>
      <router-link :to="{name: 'shopping_lists'}" class="main-menu__item" @click.native="clicked">
        <icon name="shopping-list" /> {{ $t('ui.main_menu.shopping_lists') }}
      </router-link>
    </template>

    <h2 class="divider">{{ authUser.name }}</h2>
    <router-link :to="{name: 'me'}" class="main-menu__item" @click.native="clicked"><icon name="account" /> {{ $t('ui.main_menu.profile') }}</router-link>
    <a href="#" class="main-menu__item" @click.prevent="logout" @click.native="clicked">
      <icon name="logout" /> {{ $t('ui.main_menu.logout') }}
    </a>

    <h2 class="divider">{{ $t('ui.main_menu.experimental_features') }}</h2>
    <button type="button" class="main-menu__item" @click="toggleLab">
      <icon name="labs" /> {{ enableLab ? $t('ui.main_menu.disable_features') : $t('ui.main_menu.enable_features') }}
    </button>
    <template v-if="enableLab">
      <empty icon="labs">{{ $t('ui.main_menu.no_features') }}</empty>
    </template>
  </div>
</template>

<script>
import GroupPicker from './GroupPicker'
import Icon from './Icon'
import Empty from './Empty'

export default {
  name: 'MainMenu',
  components: { Empty, Icon, GroupPicker },
  computed: {
    authUser () { return this.$store.getters.authUser },
    groupsCount () { return this.$store.getters.groupsCount },
    currentGroup () { return this.$store.getters.currentGroup },
    enableLab () { return this.$store.getters.enableLab },
  },
  methods: {
    logout () {
      this.$store.dispatch('logout')
    },
    clicked () {
      this.$emit('clicked')
    },
    toggleLab () {
      this.$store.dispatch('setLab', !this.enableLab)
    },
  },
}
</script>
