<template>
  <nav class="navbar">
    <svg viewBox="0 0 60.182 60.182" class="logo">
      <use xlink:href="~../../../assets/images/logo.svg#logo" />
    </svg>
    <router-link v-if="currentGroup"
                 :to="{name: 'home'}"
                 class="navbar__main">
      {{ currentGroup.name }}
    </router-link>
    <div v-else-if="!currentGroup && currentGroupsCount > 0"
         class="navbar__main warning">
      {{ $t('ui.navbar.choose_group') }}
    </div>
    <div v-else class="navbar__main error">
      {{ $t('ui.navbar.no_group') }}
    </div>

    <div class="navbar__actions">
      <template v-if="currentGroup">
        <router-link :to="{name: 'categories'}" class="navbar__action"><icon name="category" /></router-link>
        <router-link :to="{name: 'items'}" class="navbar__action"><icon name="item" /></router-link>
        <router-link :to="{name: 'shopping_lists'}" class="navbar__action"><icon name="shopping-list" /></router-link>
        <assigned-items class="navbar__action" />
      </template>
      <button class="navbar__menu-button" @click="showMainMenu = !showMainMenu">{{ $t('ui.navbar.menu') }}</button>
      <side-panel :title="$t('ui.navbar.main_menu')"
                  :opened="showMainMenu"
                  @close="showMainMenu = false">
        <main-menu @clicked="showMainMenu = false" />
      </side-panel>
    </div>
  </nav>
</template>

<script>
import SidePanel from './SidePanel'
import MainMenu from './MainMenu'
import Icon from './Icon'
import AssignedItems from './AssignedItems'

export default {
  name: 'Navbar',
  components: { AssignedItems, Icon, MainMenu, SidePanel },
  data () {
    return {
      showMainMenu: false,
    }
  },
  computed: {
    currentGroup () { return this.$store.getters.currentGroup },
    currentGroupsCount () { return this.$store.getters.groupsCount },
  },
}
</script>
