<template>
  <div v-show="opened" class="side-panel">
    <div class="side-panel__overlay" @click="close" />
    <nav class="side-panel__main">
      <div class="side-panel__header">
        <div class="side-panel__header__title">
          <slot name="title">{{ title }}</slot>
        </div>
        <button type="button" class="side-panel__header__close-button" @click="close">
          <icon name="close" />
        </button>
      </div>
      <div class="side-panel__content">
        <slot />
      </div>
    </nav>
  </div>
</template>

<script>
/*
This component has a 'title' prop and slot; if slot is defined it will override
the prop.
*/
import Icon from './Icon'
export default {
  name: 'SidePanel',
  components: { Icon },
  props: {
    opened: { required: true, type: Boolean, default: false },
    title: { required: false, type: String, default: '' },
  },
  methods: {
    close () { this.$emit('close') },
  },
}
</script>
