<template>
  <div :is="tag">
    <slot v-if="toggled" name="feedback" />
    <slot v-else />
  </div>
</template>

<script>
export default {
  name: 'TimedFeedback',
  props: {
    timeout: { required: false, type: Number, default: 3000 },
    tag: { required: false, type: String, default: 'div' },
  },
  data () {
    return {
      toggled: false,
      timer: null,
    }
  },
  methods: {
    start () {
      this.toggled = true
      this.timer = setTimeout(() => {
        this.toggled = false
        this.timer = null
        this.$emit('done')
      }, this.$props.timeout)
    },
  },
}
</script>
