<template>
  <span class="toggle-arrow">{{ expanded? '&blacktriangledown;' : '&blacktriangleright;' }}</span>
</template>

<script>
export default {
  name: 'ToggleArrow',
  props: {
    expanded: { required: true, type: Boolean },
  },
}
</script>
