<template>
  <form action="#" class="form" aria-label="Account edition form" @submit.prevent="save">
    <div v-if="errors" class="alert alert--error">
      Errors prevented to save your account.
    </div>

    <div class="form__field form__field--upload">
      <label for="user-avatar" class="form__field__label">Avatar</label>
      <input id="user-avatar" type="file" @change="avatarInput">
      <div v-if="avatarPreview" class="avatar__wrapper">
        <img :src="avatarPreview" class="avatar">
      </div>
      {{ inputs.fileInputInfo !== null ? inputs.fileInputInfo : 'Please select a file' }}
    </div>

    <div class="form__field">
      <label for="user-email" class="form__field__label">Email</label>
      <input id="user-email"
             v-model="inputs.email"
             name="email"
             type="text"
             class="form__field__control">
      <form-field-error :errors="errors" field="email" class="form__field__message" />
    </div>

    <h2 class="divider">Password change</h2>

    <div class="form__field">
      <label for="user-password" class="form__field__label">New password</label>
      <input id="user-password"
             v-model="inputs.password"
             name="password"
             type="text"
             class="form__field__control">
      <form-field-error :errors="errors" field="password" class="form__field__message" />
    </div>

    <div class="form__field">
      <label for="user-password-confirmation" class="form__field__label">Confirmation</label>
      <input id="user-password-confirmation"
             v-model="inputs.password_confirmation"
             name="password_confirmation"
             type="text"
             class="form__field__control">
      <form-field-error :errors="errors" field="password_confirmation" class="form__field__message" />
    </div>

    <div class="form__actions">
      <div class="form__actions__content">
        <loading v-show="loading" />
      </div>
      <button type="button" class="cancel" :disabled="loading" @click="cancel">Cancel</button>
      <button type="submit" class="save" :disabled="loading">Save</button>
    </div>
  </form>
</template>

<script>
import Loading from '../ui/Loading'
import FormFieldError from '../ui/forms/FieldError'

export default {
  name: 'UserForm',
  components: { Loading, FormFieldError },
  props: {
    user: { required: false, type: [Object, null], default: null },
  },
  data () {
    return {
      loading: false,
      errors: null,
      inputs: this.setInputs(),
      avatarPreview: null,
    }
  },
  methods: {
    setInputs () {
      const base = {
        email: '',
        password: '',
        password_confirmation: '',
        avatar: '',
        fileInputInfo: null,
        avatarFile: null,
      }
      if (this.$props.user) return { ...base, ...this.$props.user }

      return base
    },
    save () {
      this.loading = true
      this.errors = null
      const payload = { email: this.inputs.email }
      if (this.inputs.password) {
        payload.password = this.inputs.password
        payload.password_confirmation = this.inputs.password_confirmation
      }
      if (this.inputs.avatarFile) {
        payload['avatar'] = this.inputs.avatarFile
      }
      this.$store.dispatch('saveUser', payload)
        .then(() => { this.$emit('cancel') })
        .catch(({ body }) => { this.errors = body.errors })
        .then(() => { this.loading = false })
    },
    cancel () {
      this.$emit('cancel')
    },
    reset () {
      this.inputs = this.setInputs()
    },
    avatarInput (event) {
      const files = event.target.files || event.dataTransfer.files
      this.inputs.fileInputInfo = `${files[0].name} (${this.getReadableSize(files[0].size)})`
      this.inputs.avatarFile = files[0]
      this.createPreview(files[0])
    },
    getReadableSize (size) {
      if (size < 1024) {
        return `${size}b`
      } else if (size < 1024 * 1024) {
        return `${Math.round((size * 10) / 1024) / 10}Kb`
      } else if (size < 1024 * 2014 * 1024) {
        return `${Math.round((size * 10) / (1024 * 1024)) / 10}Mb`
      }
    },
    createPreview (file) {
      const reader = new FileReader()

      reader.onload = (e) => {
        this.avatarPreview = e.target.result
      }
      reader.readAsDataURL(file)
    },
  },
  watch: {
    user () {
      this.inputs = this.setInputs()
    },
  },
}
</script>
