<template>
  <div>
    <header class="toolbar">
      <h1 class="toolbar__title">
        <icon name="account" /> Profile information
      </h1>
      <icon-button icon="edit" :label="$t('generic.edit')" class="toolbar__action edit" @click="edit" />
    </header>

    <div class="page-content">
      <div v-if="user.avatar_150" class="avatar__wrapper">
        <img :src="user.avatar_150" alt="Avatar" class="avatar">
      </div>
      <dl class="dl-right">
        <dt>Name:</dt>
        <dd>{{ user.name }}</dd>

        <dt>Email:</dt>
        <dd>{{ user.email }}</dd>

        <template v-if="user.unconfirmed_email">
          <dt class="warning">
            Unconfirmed email
          </dt>
          <dd class="warning">
            {{ user.unconfirmed_email }}
          </dd>
        </template>

        <dt>Joined since:</dt>
        <dd>{{ user.created_at | niceDate }}</dd>

        <dt>Last account update:</dt>
        <dd>{{ user.updated_at | niceDate }}</dd>
      </dl>
    </div>

    <!-- Form -->
    <side-panel :opened="displayForm"
                title="Profile edition"
                @close="cancelEdition">
      <user-form :user="user"
                 @cancel="cancelEdition" />
    </side-panel>
  </div>
</template>

<script>
import DateFiltersMixin from '../../filters/date'
import ShowEntityEdition from '../../mixins/show-entity-edition'
import SidePanel from '../ui/SidePanel'
import UserForm from './_Form'
import Icon from '../ui/Icon'
import IconButton from '../ui/IconButton'

/*
Parent component should handle the edition form on @edit
*/
export default {
  name: 'UserShow',
  components: { IconButton, Icon, SidePanel, UserForm },
  mixins: [DateFiltersMixin, ShowEntityEdition],
  computed: {
    user () { return this.$store.getters.authUser },
  },
}
</script>
