.element
  .element__header
    %h2.element__header__title Resend confirmation instructions
  .element__content
    = form_for(resource,
                as: resource_name,
                url: confirmation_path(resource_name),
                html: { method: :post, class: 'form' }) do |f|
      = render 'devise/shared/error_messages', resource: resource

      .form__field
        = f.label :email, class: 'form__field__label'
        = f.email_field :email,
                        autofocus: true,
                        autocomplete: 'email',
                        value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                        class: 'form__field__control'
      .form__actions
        .form__actions__content
        = f.submit 'Resend confirmation instructions'

    = render 'devise/shared/links'
