<template>
  <form action="#" class="form" :aria-label="$t('shopping_lists.form.aria_label')" @submit.prevent="save">
    <div v-if="errors" class="alert alert--error">
      {{ $t('shopping_lists.form.errors') }}
    </div>

    <div class="form__field">
      <label for="shopping-list-name" class="form__field__label">{{ $t('shopping_lists.fields.name') }}</label>
      <input id="shopping-list-name"
             v-model="inputs.name"
             name="name"
             type="text"
             :placeholder="today"
             class="form__field__control">
      <form-field-error :errors="errors" field="name" class="form__field__message" />
    </div>

    <div class="form__actions">
      <div class="form__actions__content">
        <loading v-show="loading" />
      </div>
      <button type="button" class="cancel" :disabled="loading" @click="cancel">{{ $t('generic.cancel') }}</button>
      <button type="submit" class="save" :disabled="loading">{{ $t('generic.save') }}</button>
    </div>
  </form>
</template>

<script>
import Moment from 'moment'
import Loading from '../ui/Loading'
import FormFieldError from '../ui/forms/FieldError'

export default {
  name: 'ShoppingListForm',
  components: { Loading, FormFieldError },
  props: {
    shoppingList: { required: false, type: [Object, null], default: null },
  },
  data () {
    return {
      loading: false,
      errors: null,
      inputs: this.setInputs(),
      today: new Moment().format('L'),
    }
  },
  methods: {
    setInputs () {
      const base = {
        name: '',
      }
      if (this.$props.shoppingList) return { ...base, ...this.$props.shoppingList }

      return base
    },
    save () {
      this.loading = true
      this.errors = null
      const payload = { ...this.inputs }
      if (payload.name.length === 0) payload.name = this.today

      this.$store.dispatch('saveShoppingList', payload)
        .then(() => { this.$emit('cancel') })
        .catch(({ body }) => { this.errors = body.errors })
        .then(() => { this.loading = false })
    },
    cancel () {
      this.$emit('cancel')
    },
    reset () {
      this.inputs = this.setInputs()
    },
  },
  watch: {
    shoppingList () {
      this.inputs = this.setInputs()
    },
  },
}
</script>
