<template>
  <div class="shopping-list element" :class="{'shopping-list--done': shoppingList.done_at}">
    <header class="element__header">
      <timed-feedback ref="titleFeedback"
                      tag="h2"
                      class="element__header__title"
                      :class="{ danger: error}">
        <template slot="feedback">{{ error || $t('generic.form_error') }}</template>
        <router-link :to="{name: 'shopping_list', params:{id: shoppingList.id}}">
          {{ shoppingList.name }}
        </router-link>
      </timed-feedback>
      <div class="element__header__detail">
        {{ doneAmount }}/{{ itemsAmount }}
      </div>
      <icon-button icon="edit" :label="$t('generic.edit')" class="element__header__action edit" @click="$emit('edit')" />
      <dropdown :title="$t('generic.more_actions')" icon="more" class="element__header__action">
        <button type="button" class="destroy" @click="destroy">{{ $t('generic.destroy') }}</button>
      </dropdown>
    </header>
  </div>
</template>

<script>
import DateFiltersMixin from '../../filters/date'

import Dropdown from '../ui/Dropdown'
import TimedFeedback from '../ui/TimedFeedback'
import IconButton from '../ui/IconButton'

/*
Parent component should handle the edition form on @edit
*/
export default {
  name: 'ShoppingListItem',
  components: { IconButton, TimedFeedback, Dropdown },
  mixins: [DateFiltersMixin],
  props: {
    shoppingList: { required: true, type: Object },
  },
  data () {
    return {
      error: null,
    }
  },
  computed: {
    itemsAmount () { return this.$store.getters.shoppingListsItemsIn(this.$props.shoppingList.id).length },
    doneAmount () { return this.$store.getters.shoppingListsItemsDoneIn(this.$props.shoppingList.id).length },
  },
  methods: {
    destroy () {
      this.error = null
      this.$store.dispatch('destroyShoppingList', this.$props.shoppingList.id)
        .catch(() => { this.error = true })
    },
  },
  watch: {
    error (newVal) {
      if (newVal) { this.$refs.titleFeedback.start() }
    },
  },
}
</script>
