<template>
  <div>
    <header class="toolbar">
      <h1 class="toolbar__title">
        <icon name="shopping-list" /> {{ $t('shopping_lists.index.title') }}
      </h1>
      <loading v-show="loading" class="toolbar__action">
        {{ $t('generic.refreshing') }}
      </loading>
      <button type="button" class="toolbar__action add" @click="add">{{ $t('generic.add') }}</button>
    </header>

    <div class="page-content">
      <div class="shopping-lists">
        <empty v-if="shoppingListsTodo.length === 0" icon="shopping-list">
          <p>{{ $t('shopping_lists.index.no_list') }}</p>
          <button type="button" class="add" @click="add">{{ $t('shopping_lists.index.create_button') }}</button>
        </empty>

        <shopping-list v-for="shopping_list in shoppingListsTodo"
                       :key="shopping_list.id"
                       :shopping-list="shopping_list"
                       @edit="edit(shopping_list)" />

        <template v-if="shoppingListsDone.length > 0">
          <h2 v-if="shoppingListsTodo.length > 0" class="divider">{{ $t('shopping_lists.index.already_done') }}</h2>

          <shopping-list v-for="shopping_list in shoppingListsDone"
                         :key="shopping_list.id"
                         :shopping-list="shopping_list"
                         @edit="edit(shopping_list)" />
        </template>
      </div>
    </div>

    <!-- Form -->
    <side-panel :opened="displayForm"
                :title="currentEntity ? $t('shopping_lists.form.edition') : $t('shopping_lists.form.new')"
                @close="cancelEdition">
      <shopping-list-form ref="shoppingListForm"
                          :shopping-list="currentEntity"
                          @cancel="cancelEdition" />
    </side-panel>
  </div>
</template>

<script>
import IndexEntityEdition from '../../mixins/index-entity-edition'
import DataLoad from '../../mixins/data-load'
import Empty from '../ui/Empty'
import SidePanel from '../ui/SidePanel'
import ShoppingListForm from './_Form'
import ShoppingList from './_ShoppingList'
import Icon from '../ui/Icon'
import Loading from '../ui/Loading'

export default {
  name: 'ShoppingListIndex',
  components: { Loading, Icon, Empty, SidePanel, ShoppingListForm, ShoppingList },
  mixins: [DataLoad, IndexEntityEdition],
  data () {
    return {
      loadActions: ['loadShoppingLists', 'loadShoppingListsItems'],
      mainFormRef: 'shoppingListForm',
    }
  },
  computed: {
    shoppingListsDone () {
      return [...this.$store.getters.shoppingListsDone]
        .sort((a, b) => new Date(b.done_at) - new Date(a.done_at))
    },
    shoppingListsTodo () {
      return [...this.$store.getters.shoppingListsTodo]
        .sort((a, b) => new Date(b.created_at) - new Date(a.created_at))
    },
  },
}
</script>
