<template>
  <div v-if="loading" class="alert alert--notice text-center">
    <loading>{{ $t('generic.loading_details') }}</loading>
  </div>
  <div v-else class="shopping-list">
    <header class="toolbar">
      <h1 class="toolbar__title">
        <icon name="shopping-list" /> {{ shoppingList.name }}
      </h1>
      <loading v-show="loading" class="toolbar__action">
        {{ $t('generic.refreshing') }}
      </loading>
      <button type="button" class="toolbar__action edit" :disabled="shoppingList.done_at" @click="addShoppingListItem">{{ $t('shopping_lists.add_item') }}</button>
      <dropdown :title="$t('generic.more_actions')" icon="more" class="toolbar__action">
        <button type="button" class="edit" @click="edit">{{ $t('generic.edit') }}</button>
        <button type="button" class="destroy" @click="destroy">{{ $t('generic.destroy') }}</button>
      </dropdown>
    </header>

    <div class="page-content">
      <div v-for="(items, name) in categorizedTodoList" :key="name">
        <h2><icon name="category" /> {{ name }}</h2>
        <shopping-lists-item-item v-for="shoppingListsItem in items"
                                  :key="shoppingListsItem.id"
                                  :shopping-lists-item="shoppingListsItem"
                                  @edit="editShoppingListItem(shoppingListsItem)" />
      </div>

      <template v-if="allDone">
        <div v-if="!shoppingList.done_at" class="alert alert--notice text-center">
          {{ $t('shopping_list.done_paragraph') }} <button type="button" class="done" @click="finishList">{{ $t('shopping_lists.done_button') }} </button>
        </div>
        <div v-else class="alert alert--notice text-center">
          {{ $t('shopping_lists.cant_change_list') }}
        </div>
      </template>

      <template v-if="shoppingListsDoneItems.length > 0">
        <h2 v-show="shoppingListsTodoItems.length > 0" class="divider">{{ $t('shopping_lists.already_picked') }}</h2>
        <shopping-lists-item-item v-for="shoppingListsItem in shoppingListsDoneItems"
                                  :key="shoppingListsItem.id"
                                  :shopping-lists-item="shoppingListsItem"
                                  :modifiable="!shoppingList.done_at"
                                  @edit="editShoppingListItem(shoppingListsItem)" />
      </template>
    </div>

    <!-- Form -->
    <side-panel :opened="displayForm"
                :title="$t('shopping_lists.form.edition')"
                @close="cancelEdition">
      <shopping-list-form :shopping-list="shoppingList"
                          @cancel="cancelEdition" />
    </side-panel>

    <side-panel :opened="displayShoppingListItemForm"
                :title="currentShoppingListItem ? $t('shopping_lists_items.form.edition') : $t('shopping_lists_items.form.new')"
                @close="cancelShoppingListItemEdition">
      <shopping-lists-item-form :shopping-lists-item="currentShoppingListItem"
                                :shopping-list="currentShoppingList"
                                @cancel="cancelShoppingListItemEdition" />
    </side-panel>
  </div>
</template>

<script>
import DateFiltersMixin from '../../filters/date'
import ShowEntityEdition from '../../mixins/show-entity-edition'
import DataLoad from '../../mixins/data-load'
import Loading from '../ui/Loading'
import SidePanel from '../ui/SidePanel'
import ShoppingListForm from './_Form'
import ShoppingListsItemItem from '../shopping_lists_items/_ShoppingListsItem'
import Dropdown from '../ui/Dropdown'
import ShoppingListsItemForm from '../shopping_lists_items/_Form'
import Icon from '../ui/Icon'

/*
Parent component should handle the edition form on @edit
*/
export default {
  name: 'ShoppingListShow',
  components: { Icon, Loading, SidePanel, ShoppingListForm, ShoppingListsItemForm, Dropdown, ShoppingListsItemItem },
  mixins: [DateFiltersMixin, ShowEntityEdition, DataLoad],
  data () {
    return {
      loadActions: ['loadShoppingListsItems', 'loadCategories', 'loadItems', 'loadUsers'],
      displayShoppingListItemForm: false,
      currentShoppingListItem: null,
      currentShoppingList: null,
    }
  },
  computed: {
    shoppingList () { return this.$store.getters.shoppingList(Number(this.$route.params.id)) },
    shoppingListsItems () {
      return this.$store.getters.shoppingListsItemsIn(Number(this.$route.params.id))
        .sort((a, b) => a.item.name.localeCompare(b.item.name))
    },
    shoppingListsDoneItems () {
      return this.shoppingListsItems.filter(i => i.done)
    },
    shoppingListsTodoItems () {
      return this.shoppingListsItems.filter(i => !i.done)
    },
    categorizedTodoList () {
      return this.categorizeList(this.shoppingListsTodoItems)
    },
    allDone () {
      return this.shoppingListsTodoItems.length === 0 && this.shoppingListsItems.length > 0
    },
    categories () {
      return [...this.$store.getters.categories]
        .sort((a, b) => a.name.localeCompare(b.name))
    },
  },
  methods: {
    destroy () {
      this.loading = true
      this.$store.dispatch('destroyShoppingList', this.shoppingList.id)
        .then(() => {
          this.$router.push({ name: 'shopping_lists' })
          this.loading = false
        })
    },
    addShoppingListItem () {
      this.currentShoppingList = this.shoppingList
      this.currentShoppingListItem = null
      this.displayShoppingListItemForm = true
    },
    editShoppingListItem (shoppingListItem) {
      this.currentShoppingList = null
      this.currentShoppingListItem = shoppingListItem
      this.displayShoppingListItemForm = true
    },
    cancelShoppingListItemEdition () {
      this.displayShoppingListItemForm = false
      this.currentShoppingListItem = null
      this.currentShoppingList = null
    },
    finishList () {
      const payload = { ...this.shoppingList }
      payload.done = true
      this.loading = true
      this.$store.dispatch('saveShoppingList', payload)
        .then(() => { this.$router.push({ name: 'shopping_lists' }) })
        .catch((error) => { this.error = error })
        .then(() => { this.loading = false })
    },
    categorizeList (list) {
      const uncategorized = 'Not in a category'
      const categories = {}
      categories[uncategorized] = []

      for (let shoppingListItem of list) {
        let category = this.categories.find(c => c.id === shoppingListItem.item.category_id)
        if (!category) {
          categories[uncategorized].push(shoppingListItem)
          continue
        }

        let categoryName = category.name
        if (!categories[categoryName]) categories[categoryName] = []
        categories[categoryName].push(shoppingListItem)
      }

      if (categories[uncategorized].length === 0) delete categories[uncategorized]

      return categories
    },
  },
}
</script>
