.alert {
  padding: $spacer-default;
  margin-bottom: $spacer-default;

  &--error,
  &--danger {
    background-color: $color-error;
    color: $color-error-inverse;
  }

  &--notice {
    background-color: $component-background-base;
    color: $font-color-base;
  }
}
