button,
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
  color: $font-color-base;
  font-weight: $font-weight-base;
  border: 3px double $border-color-base;
  margin: 0 $spacer-tiny;

  .icon {
    fill: currentColor;
  }

  &[disabled="disabled"] {
    color: $font-color-muted;
    cursor: not-allowed;
    border-color: real-lighten($border-color-base, 50%);

    .icon {
      fill: $font-color-muted;
    }
  }
}
