dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $spacer-default;
  padding: 0;
  margin: 0;

  dd,
  dt {
    margin: 0;
    padding: 0;
  }

  &.dl-right {
    dd {
      text-align: right;
    }
  }
}
