.element {
  margin: 0 0 $spacer-default 0;
  background-color: $component-background-base;
  border: 1px solid $border-color-base;

  &__header {
    @extend %item-header;

    &__title {
      @extend %item-header__title;

      font-weight: $component-font-weight-title;
      font-size: $component-font-size-title;
    }

    &__detail {
      @extend %item-header__detail;
    }

    &__action {
      @extend %item-header__action;
    }

    .toggle-arrow {
      @extend %item-header__detail;

      padding-right: 0;
    }
  }

  &__content {
    border-top: 1px solid $border-color-base;
    padding: $spacer-default;
  }
}
