.form {
  max-width: 100%;

  &__field {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    grid-row-gap: $spacer-tiny;
    justify-items: stretch;
    align-items: center;
    margin-bottom: $spacer-default;

    &__label {
      grid-area: 1 / 1 / 2 / 1;
    }

    &__control {
      grid-area: 2 / 1 / 2 / 1;

      &--group {
        display: flex;

        button {
          flex: none;

          &:last-child {
            margin-right: 0;
          }
        }

        input {
          flex-grow: 1;
        }
      }
    }

    &__message {
      grid-area: 3 / 1 / 3 / 1;
    }

    &--upload {
      position: relative;
      overflow: hidden;

      & input[type="file"] {
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
  }

  &__actions {
    display: flex;
    text-align: right;
    align-items: center;

    &__content {
      flex-grow: 1;
      padding-right: $spacer-default;
    }
  }
}

input[type="text"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="week"],
select,
textarea {
  @extend %input;
}
