body {
  background-color: $background-color-base;
  color: $font-color-base;
  font-size: $font-size-base;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
}

.mb0 {
  margin-bottom: 0;
}
