.list-element {
  @extend %list-item;

  margin: 0 (-$spacer-default);
  padding: 0 $spacer-default;
  display: flex;

  &--noaction {
    cursor: default;
  }

  &__content {
    flex-grow: 1;
    padding: $list-item-v 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1em;
    width: 10px;
  }

  &__detail {
    @extend %item-header__detail;

    padding: $list-item-padding;
  }

  &__action + &__detail {
    border-left: 1px solid $border-color-base;
  }

  &__action {
    @extend %item-header__action;

    padding: 0;

    &:last-child {
      margin-right: -$list-item-h;
    }

    &.dropdown > button,
    &.icon-button {
      padding-top: $list-item-v;
      padding-bottom: $list-item-v;
    }
  }
}
