.toolbar {
  @extend %item-header;

  border-bottom: 1px solid $border-color-base;

  h1,
  h2,
  &__title {
    @extend %item-header__title;
  }

  &__action {
    @extend %item-header__action;
  }
}
