.add,
.save,
.primary,
.edit,
.use,
.done {
  color: $color-primary;

  .icon,
  &.icon {
    fill: $color-primary;
  }
}

.destroy,
.error,
.danger {
  color: $color-error;

  .icon,
  &.icon {
    fill: $color-error;
  }
}

.cancel,
.clear,
.warning {
  color: $color-warning;

  .icon,
  &.icon {
    fill: $color-warning;
  }
}

.assigned,
.success {
  color: $color-success;

  .icon,
  &.icon {
    fill: $color-success;
  }
}

.text {
  &-center {
    text-align: center;
  }
}

h2 {
  font-size: $font-size-subtitle;
}
