.element
  .element__header
    %h2.element__header__title Sign up
  .element__content
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form' }) do |f|
      = render 'devise/shared/error_messages', resource: resource

      .form__field
        = f.label :name, class: 'form__field__label'
        = f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form__field__control'
      .form__field
        = f.label :email, class: 'form__field__label'
        = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form__field__control'
      .form__field
        = f.label :password, class: 'form__field__label'
        = f.password_field :password, autocomplete: 'new-password', class: 'form__field__control'
        - if @minimum_password_length
          .form__field__message
            (#{@minimum_password_length} characters minimum)
      .form__field
        = f.label :password_confirmation, class: 'form__field__label'
        = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form__field__control'

      .form__actions
        .form__actions__content
        = f.submit 'Sign up', class: 'primary'

    = render 'devise/shared/links'
