<%
  TYPES = {
    string:   'text',
    integer:  'number',
    decimal:  'number',
    datetime: 'datetime',
    date:     'date',
    time:     'time',
    text:     'textarea',
  }

  ignored_fields = ['id', 'created_at', 'updated_at', 'deleted_at', 'group_id']

  # UserPreference
  model_name = name.classify
  # <UserPreference>
  model = model_name.constantize

  # user_preference
  singular_name = name.singularize

  # UserPreferenceForm
  component_name = "#{singular_name.camelize}Form"
  # userPreference
  prop_name = singular_name.camelize(:lower)

  # Standard attributes
  attributes = {}
  model.attribute_types.each do |attribute|
    attributes[attribute[0]] = TYPES[attribute[1].type]
  end
%><template>
  <form action="#" class="form" :aria-label="$t('<%= name %>.form.aria_label')" @submit.prevent="save">
    <div v-if="errors" class="alert alert--error">
      {{ $t('<%= name %>.form.errors') }}
    </div>

    <% attributes.each do |f, t|
        next if ignored_fields.include? f
    %><div class="form__field">
      <label for="<%= "#{singular_name}_#{f}".dasherize %>" class="form__field__label">{{ $t('<%= name %>.fields.<%= f %>') }}</label>
      <% case t
           when 'textarea' %><textarea id="<%= "#{singular_name}_#{f}".dasherize %>"
              v-model="inputs.<%= f %>"
              name="<%= f %>"
              class="form__field__control" />
        <% when 'number' %><div class="form__field__control form__field__control--group">
        <input id="<%= "#{singular_name}_#{f}".dasherize %>" v-model="inputs.<%= f %>" type="number">
        <button type="button" @click="inputs.<%= f %> -=1">-</button>
        <button type="button" @click="inputs.<%= f %> +=1">+</button>
      </div>
        <% else %><input id="<%= "#{singular_name}_#{f}".dasherize %>"
              v-model="inputs.<%= f %>"
              name="<%= f %>"
              type="<%= t %>"
              class="form__field__control">
      <% end %><form-field-error :errors="errors" field="<%= f.sub(/_id$/, '') %>" class="form__field__message" />
    </div>
    <% end %>
    <div class="form__actions">
      <div class="form__actions__content">
        <loading v-show="loading" />
      </div>
      <button type="button" class="cancel" :disabled="loading" @click="cancel">{{ $t('generic.cancel') }}</button>
      <button type="submit" class="save" :disabled="loading">{{ $t('generic.save') }}</button>
    </div>
  </form>
</template>

<script>
import Loading from '../ui/Loading'
import FormFieldError from '../ui/forms/FieldError'

export default {
  name: '<%=component_name %>',
  components: { Loading, FormFieldError },
  props: {
    <%= prop_name %>: { required: false, type: [Object, null], default: null },
  },
  data () {
    return {
      loading: false,
      errors: null,
      inputs: this.setInputs(),
    }
  },
  methods: {
    setInputs () {
      const base = {
        <% attributes.each do |f, t|
          next if ignored_fields.include? f
        %><%= f %>: '',
        <% end %>
      }
      if (this.$props.<%= prop_name %>) return { ...base, ...this.$props.<%= prop_name %> }

      return base
    },
    save () {
      this.loading = true
      this.errors = null
      this.$store.dispatch('save<%= model_name %>', this.inputs)
        .then(() => { this.$emit('cancel') })
        .catch(({ body }) => { this.errors = body.errors })
        .then(() => { this.loading = false })
    },
    cancel () {
      this.$emit('cancel')
    },
    reset () {
      this.inputs = this.setInputs()
    },
  },
  watch: {
    <%= prop_name %> () {
      this.inputs = this.setInputs()
    },
  },
}
</script>
