<%
  ignored_fields = ['id', 'deleted_at', 'group_id']

  # <UserPreference>
  model = name.classify.constantize

  # user_preference
  singular_name = name.singularize

  # UserPreferenceItem
  component_name = "#{name.classify}Index"
  # user-preference
  prop_name = singular_name.dasherize
  # user-preferences
  class_name = name.dasherize

  # UserPreferenceForm
  form_component = "#{singular_name}_form".camelize
  # userPreferenceForm
  form_ref = "#{singular_name}_form".camelize(:lower)
  # user-preference-form
  html_form_component = form_component.underscore.dasherize
  # UserPreferenceItem
  item_component = "#{model}"
  # user-preference-item
  html_item_component = item_component.underscore.dasherize

  # User preferences
  human_name = name.humanize
  # User preference
  singular_human_name = human_name.singularize

  # userPreferences
  getter_all = name.camelize(:lower)
  # loadUserPreferences
  load_all_action = "load_#{name}".camelize(:lower)
  # userPreference
  singular_var = singular_name.camelize(:lower)
%><template>
  <div>
    <header class="toolbar">
      <h1 class="toolbar__title">{{ $t('<%= name %>.index.title') }}</h1>
      <loading v-show="loading" class="toolbar__action">
        {{ $t('generic.refreshing') }}
      </loading>
      <button type="button" class="toolbar__action add" @click="add">{{ $t('generic.add') }}</button>
    </header>

    <div class="<%= class_name %>">
      <empty v-if="<%= getter_all %>.length === 0">
        {{ $t('<%=name %>.index.no_content') }}
        <button type="button" class="add" @click="add">{{ $t('<%= name %>.index.create_button') }}</button>
      </empty>

      <<%= html_item_component %> v-for="<%= singular_name %> in <%= getter_all %>"
                :key="<%= singular_name %>.id"
                :<%= prop_name %>="<%= singular_name %>"
                @edit="edit(<%= singular_name %>)" />
    </div>

    <!-- Form -->
    <side-panel :opened="displayForm"
                :title="currentEntity ? $t('<%= name %>.form.edition') : $t('<%= name %>.form.new')"
                @close="cancelEdition">
      <<%= html_form_component %> ref="<%= form_ref %>"
                  :<%= prop_name %>="currentEntity"
                  @cancel="cancelEdition" />
    </side-panel>
  </div>
</template>

<script>
import IndexEntityEdition from '../../mixins/index-entity-edition'
import DataLoad from '../../mixins/data-load'
import Empty from '../ui/Empty'
import Loading from '../ui/Loading'
import SidePanel from '../ui/SidePanel'
import <%= form_component %> from './_Form'
import <%= item_component %> from './_<%= item_component %>'

export default {
  name: '<%= component_name %>',
  components: { Empty, Loading, SidePanel, <%= form_component %>, <%= item_component %> },
  mixins: [DataLoad, IndexEntityEdition],
  data () {
    return {
      loadActions: ['<%= load_all_action %>'],
      mainFormRef: '<%= form_ref %>',
    }
  },
  computed: {
    <%= getter_all %> () { return this.$store.getters.<%= getter_all %> },
  },
}
</script>
