<%
  ignored_fields = ['id', 'deleted_at', 'group_id']

  # <UserPreference>
  model = name.classify.constantize
  # user_preference
  singular_name = name.singularize
  # user-preference
  class_name = singular_name.dasherize

  # UserPreferenceItem
  component_name = "#{name.classify}Item"
  prop_name = singular_name.camelize(:lower)

  attributes = []
  # Standard attributes
  model.attribute_types.each do |name, _type|
    attributes.push(name)
  end
%><template>
  <div class="<%= class_name %> element">
    <header class="element__header">
      <timed-feedback ref="titleFeedback"
                      tag="h2"
                      class="element__header__title"
                      :class="{ danger: error }">
        <template slot="feedback">{{ error || $t('generic.form_error') }}</template>
        <router-link :to="{name: '<%= singular_name %>', params:{id: <%= prop_name %>.id}}">{{ $t('CHANGE_ME') }}</router-link>
      </timed-feedback>
      <button type="button" class="element__header__action edit" @click="$emit('edit')">{{ $t('generic.edit') }}</button>
      <dropdown title="More actions" icon="more" class="element__header__action">
        <button type="button" class="destroy" @click="destroy">{{ $t('generic.destroy') }}</button>
      </dropdown>
    </header>

    <div class="element__content">
      <dl class="dl-right">
        <% attributes.each do |f|
          next if ignored_fields.include? f %>
        <dt>{{ $t('<%= name %>.fields.<%= f %>') }}</dt>
        <dd>{{ <%= "#{prop_name}.#{f}" %><%= /_at$/ =~ f ? ' | niceDate' : '' %> }}</dd>
        <% end %>
      </dl>
    </div>
  </div>
</template>

<script>
import DateFiltersMixin from '../../filters/date'

import Dropdown from '../ui/Dropdown'
import TimedFeedback from '../ui/TimedFeedback'

/*
Parent component should handle the edition form on @edit
*/
export default {
  name: '<%= component_name %>',
  components: { TimedFeedback, Dropdown },
  mixins: [DateFiltersMixin],
  props: {
    <%= prop_name %>: { required: true, type: Object },
  },
  data () {
    return {
      error: null,
    }
  },
  methods: {
    destroy () {
      this.error = null
      this.$store.dispatch('destroy<%= model %>', this.$props.<%= prop_name %>.id)
       .catch(() => { this.error = true })
    },
  },
}
</script>
