<%
  ignored_fields = ['id', 'deleted_at', 'group_id']

  # <UserPreference>
  model = name.classify.constantize

  # user_preference
  singular_name = name.singularize

  # UserPreferenceShow
  component_name = "#{name.classify}Show"
  # UserPreferenceForm
  form_component = "#{model}Form"
  # user-form-item
  html_form_component = form_component.underscore.dasherize

  # user-preference
  prop_name = singular_name.dasherize

  # User preference
  singular_human_name = human_name.singularize

  # userPreference
  getter_one = singular_name.camelize(:lower)

  # Standard attributes
  attributes = []
  model.attribute_types.each do |field, _type|
    attributes.push(field)
  end
%><template>
  <div v-if="loading" class="alert alert--notice text-center">
    <loading>{{ $t('generic.loading_details') }}</loading>
  </div>
  <div v-else>
    <header class="toolbar">
      <h1 class="toolbar__title">{{ $t('CHANGE_ME') }}</h1>
      <button type="button" class="toolbar__action edit" @click="edit">{{ $t('generic.edit') }}</button>
      <button type="button" class="toolbar__action destroy" @click="destroy">{{ $t('generic.destroy') }}</button>
    </header>

    <dl class="dl-right">
      <% attributes.each do |f|
           next if ignored_fields.include? f%>
      <dt>{{ $t('<%= name %>.fields.<%= f %>') }}</dt>
      <dd>{{ <%= "#{getter_one}.#{f}" %><%= /_at$/ =~ f ? ' | niceDate' : '' %> }}</dd>
      <% end %>
    </dl>

    <!-- Form -->
    <side-panel :opened="displayForm"
                :title="$t('<%= name %>.form.edition')"
                @close="cancelEdition">
      <<%= html_form_component %> :<%= prop_name %>="<%= getter_one %>"
                  @cancel="cancelEdition" />
    </side-panel>
  </div>
</template>

<script>
import DateFiltersMixin from '../../filters/date'
import ShowEntityEdition from '../../mixins/show-entity-edition'
import Loading from '../ui/Loading'
import SidePanel from '../ui/SidePanel'
import <%= model %>Form from './_Form'

/*
Parent component should handle the edition form on @edit
*/
export default {
  name: '<%= component_name %>',
  components: { Loading, SidePanel, <%= model %>Form },
  mixins: [DateFiltersMixin, ShowEntityEdition],
  data () {
    return { loading: false }
  },
  computed: {
    <%= getter_one %> () { return this.$store.getters.<%= getter_one %>(Number(this.$route.params.id)) },
  },
  methods: {
    destroy () {
      this.loading = true
      this.$store.dispatch('destroy<%= model %>', this.<%= singular_name %>.id)
        .then(() => {
          this.$router.push({ name: '<%= name %>' })
          this.loading = false
        })
    },
  },
}
</script>
