<template>
  <div class="category element">
    <header class="element__header">
      <timed-feedback ref="titleFeedback"
                      tag="h2"
                      class="element__header__title"
                      :class="{ danger: error}">
        <template slot="feedback">{{ error || $t('generic.form_error') }}</template>
        {{ category.name }}
      </timed-feedback>
      <icon-button icon="edit" :label="$t('generic.edit')" class="element__header__action edit" @click="$emit('edit')" />
      <dropdown :title="$t('generic.more_actions')" icon="more" class="element__header__action">
        <button type="button" class="destroy" @click="destroy">{{ $t('generic.destroy') }}</button>
      </dropdown>
    </header>

    <div class="element__content">
      <dl class="dl-right">
        <dt>{{ $t('generic.def_creation_date') }}</dt>
        <dd>{{ category.created_at | niceDate }}</dd>

        <dt>{{ $t('generic.def_update_date') }}</dt>
        <dd>{{ category.updated_at | niceDate }}</dd>
      </dl>

      <empty v-if="items.length === 0" icon="item">
        <p>{{ $t('categories.no_items') }}</p>
      </empty>
      <h2 v-else class="divider">{{ $t('categories.items_in') }}</h2>

      <div v-for="item in items"
           :key="item.id"
           class="item list-element list-element--noaction">
        <div class="list-element__content">
          {{ item.name }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DateFiltersMixin from '../../filters/date'

import Dropdown from '../ui/Dropdown'
import TimedFeedback from '../ui/TimedFeedback'
import Empty from '../ui/Empty'
import IconButton from '../ui/IconButton'

/*
Parent component should handle the edition form on @edit
*/
export default {
  name: 'CategoryItem',
  components: { IconButton, TimedFeedback, Dropdown, Empty },
  mixins: [DateFiltersMixin],
  props: {
    category: { required: true, type: Object },
  },
  data () {
    return {
      error: null,
    }
  },
  computed: {
    items () {
      return this.$store.getters.itemsInCategory(this.$props.category.id)
        .sort((a, b) => a.name.localeCompare(b.name))
    },
  },
  methods: {
    destroy () {
      this.error = null
      this.$store.dispatch('destroyCategory', this.$props.category.id)
        .catch(() => { this.error = true })
    },
  },
  watch: {
    error (newVal) {
      if (newVal) { this.$refs.titleFeedback.start() }
    },
  },
}
</script>
