<template>
  <div>
    <header class="toolbar">
      <h1 class="toolbar__title">
        <icon name="category" /> {{ $t('categories.index.title') }}
      </h1>
      <loading v-show="loading" class="toolbar__action">
        {{ $t('generic.refreshing') }}
      </loading>
      <button type="button" class="toolbar__action add" @click="add">{{ $t('generic.add') }}</button>
    </header>

    <div class="page-content">
      <div class="categories">
        <empty v-if="categories.length === 0" icon="category">
          <p>{{ $t('categories.index.no_category') }}</p>
          <button type="button" class="add" @click="add">{{ $t('categories.index.create_button') }}</button>
        </empty>

        <category v-for="category in categories"
                  :key="category.id"
                  :category="category"
                  @edit="edit(category)" />
      </div>
    </div>

    <!-- Form -->
    <side-panel :opened="displayForm"
                :title="currentEntity ? $t('categories.form.edition') : $t('categories.form.new')"
                @close="cancelEdition">
      <category-form ref="categoryForm"
                     :category="currentEntity"
                     @cancel="cancelEdition" />
    </side-panel>
  </div>
</template>

<script>
import IndexEntityEdition from '../../mixins/index-entity-edition'
import DataLoad from '../../mixins/data-load'
import Empty from '../ui/Empty'
import SidePanel from '../ui/SidePanel'
import CategoryForm from './_Form'
import Category from './_Category'
import Icon from '../ui/Icon'
import Loading from '../ui/Loading'

export default {
  name: 'CategoryIndex',
  components: { Loading, Icon, Empty, SidePanel, CategoryForm, Category },
  mixins: [DataLoad, IndexEntityEdition],
  data () {
    return {
      loadActions: ['loadItems', 'loadCategories'],
      mainFormRef: 'categoryForm',
    }
  },
  computed: {
    categories () {
      return [ ...this.$store.getters.categories ]
        .sort((a, b) => a.name.localeCompare(b.name))
    },
  },
}
</script>
