<template>
  <div class="container element">
    <header class="element__header">
      <timed-feedback ref="titleFeedback"
                      tag="h2"
                      class="element__header__title"
                      :class="{ danger: error}">
        <template slot="feedback">{{ error || $t('generic.form_error') }}</template>
        {{ container.name }}
      </timed-feedback>
      <button type="button" class="element__header__action add" @click="addContainersItem">{{ $t('containers.add_item') }}</button>
      <dropdown :title="$t('generic.more_actions')" icon="more" class="element__header__action">
        <button type="button" class="edit" @click="$emit('edit')">{{ $t('generic.edit') }}</button>
        <button type="button" class="destroy" @click="destroy">{{ $t('generic.destroy') }}</button>
      </dropdown>
    </header>

    <div class="element__content">
      <empty v-if="containersItems.length === 0" icon="item">
        <p>{{ $t('containers.no_items') }}</p>
        <button type="button" class="add" @click="addContainersItem">{{ $t('containers.add_button') }}</button>
      </empty>

      <containers-item-item v-for="association in containersItems"
                            :key="association.id"
                            :containers-item="association"
                            @edit="$emit('editContainersItem', association)" />
    </div>
  </div>
</template>

<script>
import DateFiltersMixin from '../../filters/date'

import Dropdown from '../ui/Dropdown'
import TimedFeedback from '../ui/TimedFeedback'
import ContainersItemItem from '../containers_items/_Item'
import Empty from '../ui/Empty'

/*
Parent component should handle the edition form on @edit
*/
export default {
  name: 'ContainerItem',
  components: { TimedFeedback, Dropdown, Empty, ContainersItemItem },
  mixins: [DateFiltersMixin],
  props: {
    container: { required: true, type: Object },
  },
  data () {
    return {
      error: null,
    }
  },
  computed: {
    containersItems () {
      return this.$store.getters.containersItemsIn(this.container.id)
        .sort((a, b) => a.item.name.localeCompare(b.item.name))
    },
  },
  methods: {
    addContainersItem () { this.$emit('addContainersItem') },
    destroy () {
      this.error = null
      this.$store.dispatch('destroyContainer', this.$props.container.id)
        .catch(() => { this.error = true })
    },
  },
  watch: {
    error (newVal) {
      if (newVal) { this.$refs.titleFeedback.start() }
    },
  },
}
</script>
