<template>
  <form action="#" class="form" :aria-label="$t('containers.form.aria_label')" @submit.prevent="save">
    <div v-if="errors" class="alert alert--error">
      {{ $t('containers.form.errors') }}
    </div>

    <div class="form__field">
      <label for="container-name" class="form__field__label">{{ $t('containers.fields.name') }}</label>
      <input id="container-name"
             v-model="inputs.name"
             name="name"
             type="text"
             class="form__field__control">
      <form-field-error :errors="errors" field="name" class="form__field__message" />
    </div>

    <div class="form__actions">
      <div class="form__actions__content">
        <loading v-show="loading" />
      </div>
      <button type="button" class="cancel" :disabled="loading" @click="cancel">{{ $t('generic.cancel') }}</button>
      <button type="submit" class="save" :disabled="loading">{{ $t('generic.save') }}</button>
    </div>
  </form>
</template>

<script>
import Loading from '../ui/Loading'
import FormFieldError from '../ui/forms/FieldError'

export default {
  name: 'ContainerForm',
  components: { Loading, FormFieldError },
  props: {
    container: { required: false, type: [Object, null], default: null },
  },
  data () {
    return {
      loading: false,
      errors: null,
      inputs: this.setInputs(),
    }
  },
  methods: {
    setInputs () {
      const base = {
        name: '',
      }
      if (this.$props.container) return { ...base, ...this.$props.container }

      return base
    },
    save () {
      this.loading = true
      this.errors = null
      this.$store.dispatch('saveContainer', this.inputs)
        .then(() => { this.$emit('cancel') })
        .catch(({ body }) => { this.errors = body.errors })
        .then(() => { this.loading = false })
    },
    cancel () {
      this.$emit('cancel')
    },
    reset () {
      this.inputs = this.setInputs()
    },
  },
  watch: {
    container () {
      this.inputs = this.setInputs()
    },
  },
}
</script>
