<template>
  <div>
    <header class="toolbar">
      <h1 class="toolbar__title">
        <icon name="container" /> {{ $t('containers.index.title') }}
      </h1>
      <loading v-show="loading" class="toolbar__action">
        {{ $t('generic.refreshing') }}
      </loading>
      <button type="button" class="toolbar__action add" @click="add">{{ $t('generic.add') }}</button>
    </header>

    <div class="page-content">
      <div class="containers">
        <empty v-if="containers.length === 0" icon="container">
          <p>{{ $t('containers.index.no_container') }}</p>
          <button type="button" class="add" @click="add">{{ $t('containers.index.create_button') }}</button>
        </empty>

        <container v-for="container in containers"
                   :key="container.id"
                   :container="container"
                   @edit="edit(container)"
                   @addContainersItem="addContainersItem(container)"
                   @editContainersItem="editContainersItem" />
      </div>
    </div>

    <!-- Form -->
    <side-panel :opened="displayForm"
                :title="currentEntity ? $t('containers.form.edition') : $t('containers.form.new')"
                @close="cancelEdition">
      <container-form ref="containerForm"
                      :container="currentEntity"
                      @cancel="cancelEdition" />
    </side-panel>

    <side-panel :opened="displayContainerItemForm"
                :title="currentContainersItem ? $t('containers_items.form.edition') : $t('containers_items.form.new')"
                @close="cancelContainersItemEdition">
      <containers-items-form :container="currentContainer"
                             :containers-item="currentContainersItem"
                             @cancel="cancelContainersItemEdition" />
    </side-panel>
  </div>
</template>

<script>
import IndexEntityEdition from '../../mixins/index-entity-edition'
import DataLoad from '../../mixins/data-load'
import Empty from '../ui/Empty'
import SidePanel from '../ui/SidePanel'
import ContainerForm from './_Form'
import Container from './_Container'
import ContainersItemsForm from '../containers_items/_Form'
import Icon from '../ui/Icon'
import Loading from '../ui/Loading'

export default {
  name: 'ContainerIndex',
  components: {
    Loading,
    Icon,
    Empty,
    SidePanel,
    ContainerForm,
    Container,
    ContainersItemsForm,
  },
  mixins: [IndexEntityEdition, DataLoad],
  data () {
    return {
      // ContainerItem edition
      displayContainerItemForm: false,
      currentContainer: null,
      currentContainersItem: null,
      loadActions: ['loadContainers', 'loadCategories', 'loadItems', 'loadContainersItems'],
      mainFormRef: 'containerForm',
    }
  },
  computed: {
    containers () {
      return [...this.$store.getters.containers]
        .sort((a, b) => a.name.localeCompare(b.name))
    },
  },
  methods: {
    addContainersItem (container) {
      this.currentContainer = container
      this.displayContainerItemForm = true
    },
    cancelContainersItemEdition () {
      this.displayContainerItemForm = false
      this.currentContainersItem = null
      this.currentContainer = null
    },
    editContainersItem (containersItem) {
      this.currentContainersItem = containersItem
      this.displayContainerItemForm = true
    },
  },
}
</script>
