.element
  .element__header
    %h2.element__header__title Forgot your password?
  .element__content
    = form_for(resource,
               as: resource_name,
               url: password_path(resource_name),
               html: { method: :post, class: 'form' }) do |f|
      = render 'devise/shared/error_messages', resource: resource

      .form__field
        = f.label :email, class: 'form__field__label'
        = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form__field__control'

      .form__actions
        .form__actions__content
        = f.submit 'Send me reset password instructions'
    = render 'devise/shared/links'
