$avatar-size: 150px;

.avatar {
  height: $avatar-size;
  border: 1px solid $border-color-base;
  padding: 0;

  &__wrapper {
    overflow: hidden;
    display: grid;
    align-content: center;
    justify-content: center;
  }

  &--small {
    height: calc(0.8em + #{$spacer-small * 2});
    margin: (-$spacer-small) 0;
  }
}
