.badge {
  color: $background-color-base;
  background-color: $font-color-muted;
  padding: 0 $spacer-tiny;
  border-radius: 0.5em;
  font-size: $font-size-small;

  &--warning {
    color: $color-warning-inverse;
    background-color: $color-warning;
  }
}
