.dropdown {
  position: relative;
  display: inline-block;

  // Poor workaround to catch events on desktop and mobile :/
  &__overlay {
    @extend %overlay;

    z-index: ($zindex-dropdown - 1);
  }

  button {
    display: inline-block;
    margin: 0;
  }

  > button {
    padding-left: $spacer-small;
    padding-right: $spacer-small;
  }

  &--avatar {

    // Trigger
    > button {
      padding-left: 0;
      padding-right: 0;

      .avatar {
        padding: 0;
        border: none;
        height: 31px;
        width: auto;
      }
    }
  }

  menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid $border-color-base;
    background-color: $background-color-base;
    margin: 0;
    padding: 0;
    z-index: $zindex-dropdown;
    min-width: $dropdown-menu-min-width;

    // Compensate border width
    right: -1px;

    > a,
    > button {
      @extend %list-item;
    }

    .element {
      margin-bottom: 0;
    }
  }
}
