$empty-color: real-lighten($font-color-base, 30%);

.empty {
  padding: $spacer-large $spacer-medium;
  color: $empty-color;
  text-align: center;

  &__icon {
    display: block;

    .icon {
      width: 6rem;
      height: 6rem;
      opacity: 0.5;
    }
  }

  &--inline {
    .empty__icon {
      display: inline-block;

      .icon {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
