.group-picker {
  max-width: 100%;

  &__header {
    display: flex;

    &__title {
      @extend %list-item;

      flex-grow: 1;
      text-align: left;
      border: none;
    }

    &__actions {
      @extend %item-header__action;

      margin: 0;
    }
  }

  &__list {
    background-color: real-darken($background-color-base, 10%);

    &__item {
      @extend %list-item;

      text-align: left;

      &:first-child {
        border-top: 1px solid $border-color-base;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
