.icons-definition {
  display: none;
}

.icon {
  height: 1em;
  transform: translateY(0.2em);
  text-decoration: none;
  fill: $icon-color;

  &--spin {
    animation: spin 1s infinite linear;
  }

  &-button {
    padding: 0 $spacer-small;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359.9deg);
  }
}
