.loading {
  &__icon {
    display: inline-block;
  }

  &--overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    text-align: center;
    padding: $spacer-large $spacer-default;
    background-color: transparentize($background-color-base, 0.2);

    .loading__icon {
      display: block;

      .icon {
        width: 6rem;
        height: 6rem;
      }
    }
  }
}
