.main-menu {
  margin: $component-padding-inverse;

  .divider {
    margin-left: $spacer-default;
    margin-right: $spacer-default;
  }

  &__item {
    @extend %list-item;

    display: block;
    border: none;
    text-decoration: none;
    text-align: left;

    &:not(:first-child) {
      border: none;
    }

    &--static {
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }

    .icon {
      margin-right: $spacer-small;
    }
  }
}
