.navbar {
  display: flex;
  border-bottom: 3px double $border-color-base;

  &__main {
    flex-grow: 1;
    padding: $component-padding;
    font-weight: $font-weight-title;
    text-decoration: none;
  }

  &__action {
    .icon {
      margin: 0 $spacer-small;
      fill: $font-color-base;
    }

    &.dropdown {
      > button {
        border: none;
      }
    }
  }

  &__menu-button {
    flex: none;
    border: none;
    border-left: 1px solid $border-color-base;
    background: transparent;
    padding: $component-padding;

    &:hover {
      background: $action-background-hover-color;
    }
  }

  .logo {
    height: 2em;
    margin: 0.1em;
  }
}
