$side-panel-max-width: 50rem;

.side-panel {
  &__overlay {
    @extend %overlay;

    z-index: ($zindex-side-panel - 1);
  }

  &__main {
    z-index: $zindex-side-panel;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: auto;
    width: 80vw;
    max-width: $side-panel-max-width;
    background: $component-background-base;
    border-left: 1px solid $border-color-base;
  }

  &__header {
    display: flex;
    border-bottom: 1px solid $border-color-base;
    padding: $component-padding;
    font-weight: $font-weight-title;

    &__title {
      flex-grow: 1;
    }

    &__close-button {
      flex: none;
      border: none;
      border-left: 1px solid $border-color-base;
      background: transparent;
      margin: (-$component-padding-v) (-$component-padding-h) (-$component-padding-v) $component-padding-v;
      font-size: 1.5rem;
      padding: 0 $component-padding-h;

      &:hover {
        background: $action-background-hover-color;
      }

      .icon {
        transform: translateY(0.1em);
      }
    }
  }

  &__content {
    padding: $component-padding;
  }
}
