<template>
  <dropdown :title="$t('items.add_to_shopping_list.title')" :disabled="loading">
    <template slot="trigger">
      <timed-feedback ref="addToShoppingListFeedback">
        <template slot="feedback">
          <icon :name="error ? 'error' : 'checkmark'" :class="error ? 'error' : 'success'" />
        </template>
        <icon name="shopping-list" />
      </timed-feedback>
    </template>
    <button v-for="shoppingList in shoppingLists"
            :key="shoppingList.id"
            type="button"
            :disabled="shoppingListsWithItem.indexOf(shoppingList.id) > -1"
            @click="addInShoppingList(shoppingList.id)">
      {{ shoppingList.name }}
    </button>
    <button type="button" class="add" @click="$emit('newShoppingList')">{{ $t('items.add_to_shopping_list.new') }}</button>
  </dropdown>
</template>

<script>
import Dropdown from '../ui/Dropdown'
import TimedFeedback from '../ui/TimedFeedback'
import Icon from '../ui/Icon'

export default {
  name: 'AddToShoppingList',
  components: { Icon, TimedFeedback, Dropdown },
  props: {
    item: { required: true, type: Object },
  },
  data () {
    return {
      error: null,
      loading: false,
    }
  },
  computed: {
    shoppingLists () { return this.$store.getters.shoppingListsTodo },
    shoppingListsWithItem () { return this.$store.getters.shoppingListsWithItem(this.$props.item.id) },
  },
  methods: {
    addInShoppingList (id) {
      this.loading = true
      this.error = null

      const payload = {
        shopping_list_id: id,
        item_id: this.item.id,
      }
      this.$store.dispatch('saveShoppingListsItem', payload)
        .catch(() => {
          this.error = true
          this.$emit('error', this.$t('items.add_to_shopping_list.error'))
        })
        .then(() => {
          this.$refs.addToShoppingListFeedback.start()
          this.loading = false
        })
    },
  },
}
</script>
