<template>
  <form action="#" class="form" :aria-label="$t('items.form.aria_label')" @submit.prevent="save">
    <div v-if="errors" class="alert alert--error">
      {{ $t('items.form.error') }}
    </div>

    <div class="form__field">
      <label for="item-name" class="form__field__label">{{ $t('items.fields.name') }}</label>
      <input id="item-name"
             v-model="inputs.name"
             name="name"
             type="text"
             class="form__field__control">
      <form-field-error :errors="errors" field="name" class="form__field__message" />
    </div>
    <div class="form__field">
      <label for="item-category-id" class="form__field__label">{{ $t('items.fields.category') }}</label>
      <entity-selector v-model="inputs.category_id"
                       display-field="name"
                       getter="categories"
                       class="form__field__control"
                       control-id="item-category-id"
                       @add="showCategoryForm = true" />
      <form-field-error :errors="errors" field="category" class="form__field__message" />
    </div>

    <div class="form__field">
      <label for="item-alert-threshold" class="form__field__label">{{ $t('items.fields.alert_threshold') }}</label>
      <div class="form__field__control form__field__control--group">
        <input id="item-alert-threshold"
               v-model="inputs.alert_threshold"
               name="alert_threshold"
               type="number">
        <icon-button icon="remove" label="-" :disabled="inputs.alert_threshold < 1" @click="inputs.alert_threshold -=1" />
        <icon-button icon="add" label="+" @click="inputs.alert_threshold +=1" />
      </div>
      <form-field-error :errors="errors" field="alert_threshold" class="form__field__message" />
    </div>

    <div class="form__actions">
      <div class="form__actions__content">
        <loading v-show="loading" />
      </div>
      <button type="button" class="cancel" :disabled="loading" @click="cancel">{{ $t('generic.cancel') }}</button>
      <button type="submit" class="save" :disabled="loading">{{ $t('generic.save') }}</button>
    </div>

    <side-panel :opened="showCategoryForm"
                :title="$t('categories.form.new')"
                @close="cancelCategoryEdition">
      <category-form ref="categoryForm" @cancel="cancelCategoryEdition" />
    </side-panel>
  </form>
</template>

<script>
import Loading from '../ui/Loading'
import FormFieldError from '../ui/forms/FieldError'
import SidePanel from '../ui/SidePanel'
import CategoryForm from '../categories/_Form'
import EntitySelector from '../ui/forms/EntitySelector'
import IconButton from '../ui/IconButton'

export default {
  name: 'ItemForm',
  components: {
    IconButton,
    EntitySelector,
    CategoryForm,
    SidePanel,
    Loading,
    FormFieldError,
  },
  props: {
    item: { required: false, type: [Object, null], default: null },
  },
  data () {
    return {
      loading: false,
      errors: null,
      inputs: this.setInputs(),
      showCategoryForm: false,
    }
  },
  methods: {
    setInputs () {
      const base = {
        name: '',
        category_id: '',
        alert_threshold: 0,
      }
      if (this.$props.item) return { ...base, ...this.$props.item }

      return base
    },
    save () {
      this.loading = true
      this.errors = null
      this.$store.dispatch('saveItem', this.inputs)
        .then(() => { this.$emit('cancel') })
        .catch(({ body }) => { this.errors = body.errors })
        .then(() => { this.loading = false })
    },
    cancel () {
      this.$emit('cancel')
    },
    reset () {
      this.inputs = this.setInputs()
    },
    cancelCategoryEdition () {
      this.showCategoryForm = false
      this.$refs.categoryForm.reset()
    },
  },
  watch: {
    item () {
      this.inputs = this.setInputs()
    },
  },
}
</script>
