<template>
  <div class="item element">
    <header class="element__header">
      <toggle-arrow :expanded="showDetails" />
      <timed-feedback ref="titleFeedback"
                      tag="h2"
                      class="element__header__title clickable"
                      :class="{ danger: totalStoredAmount <= item.alert_threshold || error}"
                      @click.native="showDetails = !showDetails">
        <template slot="feedback">{{ error || $t('generic.form_error') }}</template>
        {{ item.name }}
      </timed-feedback>
      <div class="element__header__detail" :class="{ warning: totalStoredAmount === 0 }">
        {{ totalStoredAmount }}
      </div>
      <icon-button icon="edit" :label="$t('generic.edit')" class="element__header__action edit" @click="$emit('edit')" />
      <add-to-shopping-list :item="item" class="element__header__action" @error="onAddToShoppingListError" />
      <dropdown :title="$t('generic.more_actions')" icon="more" class="element__header__action">
        <button type="button" class="destroy" @click="destroy">{{ $t('generic.destroy') }}</button>
      </dropdown>
    </header>

    <div v-show="showDetails" class="element__content">
      <dl class="dl-right">
        <dt>{{ $t('items.fields.def_category') }}</dt>
        <dd>{{ category ? category.name : 'None' }}</dd>

        <dt>{{ $t('items.fields.def_alert_threshold') }}</dt>
        <dd>{{ item.alert_threshold }}</dd>

        <dt>{{ $t('generic.def_created_at') }}</dt>
        <dd>{{ item.created_at | niceDate }}</dd>

        <dt>{{ $t('generic.def_updated_at') }}</dt>
        <dd>{{ item.updated_at | niceDate }}</dd>
      </dl>

      <empty v-if="containersItems.length === 0" icon="container">
        <p>{{ $t('items.not_stashed') }}</p>
      </empty>
      <h2 v-else class="divider">{{ $t('items.stashed_in') }}</h2>

      <containers-item-container v-for="containersItem in containersItems"
                                 :key="containersItem.id"
                                 :containers-item="containersItem" />
    </div>
  </div>
</template>

<script>
import DateFiltersMixin from '../../filters/date'
import ContainersItemContainer from '../containers_items/_Container'
import ToggleArrow from '../ui/ToggleArrow'
import Dropdown from '../ui/Dropdown'
import TimedFeedback from '../ui/TimedFeedback'
import AddToShoppingList from './_AddToShoppingList'
import IconButton from '../ui/IconButton'
import Empty from '../ui/Empty'

/*
Parent component should handle the edition form on @edit
*/
export default {
  name: 'ItemItem',
  components: { Empty, AddToShoppingList, IconButton, TimedFeedback, Dropdown, ToggleArrow, ContainersItemContainer },
  mixins: [DateFiltersMixin],
  props: {
    item: { required: true, type: Object },
  },
  data () {
    return {
      showDetails: false,
      error: null,
    }
  },
  computed: {
    category () { return this.$store.getters.category(this.$props.item.category_id) },
    containersItems () {
      return this.$store.getters.containersItemsOf(this.$props.item.id)
        .sort((a, b) => a.container.name.localeCompare(b.container.name))
    },
    totalStoredAmount () { return this.$store.getters.totalStoredAmountOf(this.$props.item.id) },
  },
  methods: {
    destroy () {
      this.error = null
      this.$store.dispatch('destroyItem', this.$props.item.id)
        .catch(() => { this.error = true })
    },
    onAddToShoppingListError (error) {
      this.error = error
    },
  },
  watch: {
    error (newVal) {
      if (newVal) { this.$refs.titleFeedback.start() }
    },
  },
}
</script>
