<template>
  <div>
    <header class="toolbar">
      <h1 class="toolbar__title">
        <icon name="item" /> {{ $t('items.index.title') }}
      </h1>
      <loading v-show="loading" class="toolbar__action">
        {{ $t('generic.refreshing') }}
      </loading>
      <button type="button" class="toolbar__action add" @click="add">{{ $t('generic.add') }}</button>
    </header>

    <div class="page-content">
      <div class="items">
        <empty v-if="items.length === 0" icon="item">
          <p>{{ $t('items.index.no_item') }}</p>
          <button type="button" class="add" @click="add">{{ $t('items.index.create_button') }}</button>
        </empty>

        <item v-for="item in items"
              :key="item.id"
              :item="item"
              @edit="edit(item)"
              @newShoppingList="displayShoppingListForm = true" />
      </div>
    </div>

    <!-- Form -->
    <side-panel :opened="displayForm"
                :title="currentEntity ? $t('items.form.edition') : $t('items.form.new')"
                @close="cancelEdition">
      <item-form ref="itemForm"
                 :item="currentEntity"
                 @cancel="cancelEdition" />
    </side-panel>
    <side-panel :opened="displayShoppingListForm"
                :title="$t('shopping_lists.form.new')"
                @close="cancelShoppingListEdition">
      <shopping-list-form ref="shoppingListForm"
                          @cancel="cancelShoppingListEdition" />
    </side-panel>
  </div>
</template>

<script>
import IndexEntityEdition from '../../mixins/index-entity-edition'
import DataLoad from '../../mixins/data-load'
import Empty from '../ui/Empty'
import SidePanel from '../ui/SidePanel'
import ItemForm from './_Form'
import Item from './_Item'
import Icon from '../ui/Icon'
import Loading from '../ui/Loading'
import ShoppingListForm from '../shopping_lists/_Form'

export default {
  name: 'ItemIndex',
  components: { ShoppingListForm, Loading, Icon, Empty, SidePanel, ItemForm, Item },
  mixins: [DataLoad, IndexEntityEdition],
  data () {
    return {
      loadActions: ['loadItems', 'loadCategories', 'loadContainers', 'loadContainersItems', 'loadShoppingLists'],
      mainFormRef: 'itemForm',
      displayShoppingListForm: false,
    }
  },
  computed: {
    items () {
      return [...this.$store.getters.items]
        .sort((a, b) => a.name.localeCompare(b.name))
    },
  },
  methods: {
    cancelShoppingListEdition () {
      this.displayShoppingListForm = false
      this.$refs.shoppingListForm.reset()
    },
  },
}
</script>
