<template>
  <div id="app">
    <div v-if="ready && !appIsInitializing">
      <navbar />
      <div v-if="$route.meta.experimental" class="alert alert--danger mb0">
        Experimental feature.
      </div>
      <router-view />
      <toast position="s" />
    </div>
    <div v-else-if="initializeFailed">
      Error !
    </div>
    <loading v-else-if="!loading || appIsInitializing" :fullscreen="true">
      Downloading data...
    </loading>
  </div>
</template>

<script>
import { Toast } from 'vuex-toast'
import Loading from './templates/ui/Loading'
import Navbar from './templates/ui/Navbar'

export default {
  components: { Toast, Navbar, Loading },
  data: function () {
    return {
      loading: false,
      initializeFailed: false,
      ready: false,
    }
  },
  computed: {
    appIsInitializing () { return this.$store.getters.appIsInitializing },
    currentGroup () { return this.$store.getters.currentGroup },
    enableLab () { return this.$store.getters.enableLab },
  },
  created () {
    this.loading = true
    this.initializeFailed = false
    this.$store.dispatch('initialize')
      .then(() => { this.ready = true })
      .catch(() => { this.initializeFailed = true })
      .then(() => {
        this.loading = false
        if (!this.currentGroup && this.$route.name !== 'groups') this.$router.push({ name: 'groups' })
      })
  },
  watch: {
    enableLab (newValue) {
      if (!newValue && this.$route.meta.experimental) {
        this.$router.push({ name: 'home' })
      }
    },
  },
}
</script>
