<template>
  <div class="container-item list-element list-element--noaction">
    <div class="list-element__content">
      {{ container.name }}
    </div>
    <div class="list-element__detail">
      {{ containersItem.quantity }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContainersItemContainer',
  props: {
    containersItem: { required: true, type: Object },
  },
  computed: {
    container () { return this.$store.getters.container(this.$props.containersItem.container_id) },
  },
}
</script>
