<template>
  <form action="#"
        class="form"
        :aria-label="containersItem ? $t('containers_items.form.aria_label_edit') : $t('containers_items.form.aria_label_add')"
        @submit.prevent="save">
    <div v-if="errors" class="alert alert--error">
      {{ $t('containers_items.form.errors') }}
    </div>

    <div class="form__field">
      <label for="containers-item-container-id" class="form__field__label">{{ $t('containers_items.fields.container') }}</label>
      <entity-selector v-if="!container"
                       v-model="inputs.container_id"
                       :allow-creation="false"
                       :disable="containersWithItem"
                       control-id="containers-item-container-id"
                       getter="containers"
                       display-field="name"
                       class="form__field__control" />
      <input v-else
             id="containers-item-container-id"
             type="text"
             class="form__field__control"
             :value="container.name"
             :disabled="true">
      <form-field-error :errors="errors" field="container" class="form__field__message" />
    </div>

    <div v-if="!containersItem" class="form__field">
      <label for="containers-item-item-id" class="form__field__label">{{ $t('containers_items.fields.item') }}</label>
      <entity-selector v-model="inputs.item_id"
                       :disable="itemsInContainer"
                       control-id="containers-item-item-id"
                       getter="items"
                       display-field="name"
                       class="form__field__control"
                       @add="addItem" />
      <form-field-error :errors="errors" field="item" class="form__field__message" />
    </div>

    <div class="form__field">
      <label for="containers-item-quantity" class="form__field__label">{{ $t('containers_items.fields.quantity') }}</label>
      <div class="form__field__control form__field__control--group">
        <input id="containers-item-quantity" v-model="inputs.quantity" type="number">
        <icon-button icon="remove" label="-" :disabled="inputs.quantity < 1" @click="inputs.quantity -=1" />
        <icon-button icon="add" label="+" @click="inputs.quantity +=1" />
      </div>
      <form-field-error :errors="errors" field="quantity" class="form__field__message" />
    </div>

    <div class="form__actions">
      <div class="form__actions__content">
        <loading v-show="loading" />
      </div>
      <button type="button" class="cancel" :disabled="loading" @click="cancel">{{ $t('generic.cancel') }}</button>
      <button type="submit" class="save" :disabled="loading">{{ $t('generic.save') }}</button>
    </div>

    <side-panel :title="$t('items.form.new')" :opened="showItemForm" @close="cancelItemEdition">
      <item-form ref="itemForm" @cancel="cancelItemEdition" />
    </side-panel>
  </form>
</template>

<script>
import Loading from '../ui/Loading'
import FormFieldError from '../ui/forms/FieldError'
import SidePanel from '../ui/SidePanel'
import ItemForm from '../items/_Form'
import EntitySelector from '../ui/forms/EntitySelector'
import IconButton from '../ui/IconButton'

export default {
  name: 'ContainersItemForm',
  components: { IconButton, EntitySelector, Loading, ItemForm, SidePanel, FormFieldError },
  props: {
    containersItem: { required: false, type: [Object, null], default: null },
    container: { required: false, type: [Object, null], default: null },
  },
  data () {
    return {
      loading: false,
      errors: null,
      inputs: this.setInputs(),
      showItemForm: false,
    }
  },
  computed: {
    items () { return this.$store.getters.items },
    itemsInContainer () {
      let containerId
      if (this.$props.container) {
        containerId = this.$props.container.id
      } else if (this.$props.containersItem) {
        containerId = this.$props.containersItem.container_id
      }

      if (!containerId) return []

      return this.$store.getters.containersItemsIn(containerId)
        .map(i => i.item_id)
    },
    containersWithItem () {
      const itemId = this.inputs.item_id
      if (!itemId) return []

      return this.$store.getters.containersWithItem(itemId)
    },
  },
  methods: {
    setInputs () {
      let base = {
        container_id: '',
        item_id: '',
        quantity: 1,
      }
      if (this.$props.containersItem) base = { ...base, ...this.$props.containersItem }
      if (this.$props.container) base.container_id = this.$props.container.id
      return base
    },
    save () {
      this.loading = true
      this.errors = null
      this.$store.dispatch('saveContainersItem', this.inputs)
        .then(() => { this.$emit('cancel') })
        .catch(({ body }) => { this.errors = body.errors })
        .then(() => { this.loading = false })
    },
    cancel () {
      this.$emit('cancel')
    },
    reset () {
      this.inputs = this.setInputs()
    },
    addItem () {
      this.showItemForm = true
    },
    cancelItemEdition () {
      this.showItemForm = false
      this.$refs.itemForm.reset()
    },
  },
  watch: {
    containersItem () {
      this.inputs = this.setInputs()
    },
    container () {
      this.inputs = this.setInputs()
    },
  },
}
</script>
