<template>
  <div class="item list-element">
    <div class="list-element__content"
         :class="{ danger: itemTotalQuantity <= item.alert_threshold }"
         @click="expandName = !expandName">
      {{ item.name }}
    </div>
    <icon-button v-show="!expandName"
                 icon="remove"
                 label="-"
                 class="list-element__action"
                 :disabled="containersItem.quantity < 1"
                 @click="changeQuantityBy(-1)" />
    <div class="list-element__detail" :class="{ warning: containersItem.quantity === 0 }">
      {{ containersItem.quantity }} / {{ itemTotalQuantity }}
    </div>
    <icon-button v-show="!expandName"
                 icon="add"
                 label="+"
                 class="list-element__action"
                 @click="changeQuantityBy(1)" />
    <icon-button v-show="expandActions && !expandName"
                 :title="$t('generic.remove')"
                 icon="destroy"
                 class="list-element__action destroy"
                 @click="destroy" />
    <icon-button v-show="expandActions && !expandName"
                 :title="$t('generic.edit')"
                 icon="edit"
                 class="list-element__action edit"
                 @click="$emit('edit')" />
    <add-to-shopping-list v-show="expandActions && !expandName" :item="item" class="list-element__action add" />
    <icon-button :title="$t('generic.more_actions')" icon="more" class="list-element__action" @click="expandActions = !expandActions" />
  </div>
</template>

<script>
import IconButton from '../ui/IconButton'
import AddToShoppingList from '../items/_AddToShoppingList'

/*
Parent component should handle the edition form on @edit
*/
export default {
  name: 'ContainersItemItem',
  components: { AddToShoppingList, IconButton },
  props: {
    containersItem: { required: true, type: Object },
  },
  data () {
    return {
      expandActions: false,
      expandName: false,
    }
  },
  computed: {
    item () { return this.$store.getters.item(Number(this.$props.containersItem.item_id)) },
    itemTotalQuantity () { return this.$store.getters.totalStoredAmountOf(this.$props.containersItem.item_id) },
  },
  methods: {
    destroy () { this.$store.dispatch('destroyContainersItem', this.$props.containersItem.id) },
    changeQuantityBy (amount) {
      const payload = {
        id: this.$props.containersItem.id,
        quantity: this.$props.containersItem.quantity + amount,
      }
      this.$store.dispatch('saveContainersItem', payload)
    },
  },
}
</script>
