.element
  .element__header
    %h2.element__header__title Log in
  .element__content
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form' }) do |f|

      .form__field
        = f.label :email, class: 'form__field__label'
        = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form__field__control'

      .form__field
        = f.label :password, class: 'form__field__label'
        = f.password_field :password, autocomplete: 'current-password', class: 'form__field__control'

      - if devise_mapping.rememberable?
        .form__field
          = f.label :remember_me do
            = f.check_box :remember_me
            Remember me

      .form__actions
        .form__actions__content
        = f.submit 'Log in', class: 'primary'

    = render 'devise/shared/links'
