.group {
  &__invite-form {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: $spacer-small;
    justify-items: stretch;
    align-items: center;
  }

  .element__content {
    padding-bottom: 0;
  }
}
