<template>
  <form action="#"
        class="form"
        :aria-label="shoppingListsItem ? $t('shopping_lists_items.form.aria_label_edit') : $t('shopping_lists_items.form.aria_label_add')"
        @submit.prevent="save">
    <div v-if="errors" class="alert alert--error">
      {{ $t('shopping_lists_items.form.errors') }}
    </div>

    <div class="form__field">
      <label for="shopping-lists-item-shopping-list-id" class="form__field__label">{{ $t('shopping_lists_items.fields.shopping_list') }}</label>
      <entity-selector v-if="!shoppingList"
                       v-model="inputs.shopping_list_id"
                       display-field="name"
                       getter="shoppingLists"
                       control-id="shopping-lists-item-shopping-list-id"
                       :disable="shoppingListsWithItem" />
      <input v-else
             id="shopping-lists-item-shopping-list-id"
             type="text"
             class="form__field__control"
             :value="shoppingList.name"
             :disabled="true">
      <form-field-error :errors="errors" field="shopping_list" class="form__field__message" />
    </div>
    <div v-if="!shoppingListsItem" class="form__field">
      <label for="shopping-lists-item-item-id" class="form__field__label">{{ $t('shopping_lists_items.fields.item') }}</label>
      <entity-selector v-model="inputs.item_id"
                       display-field="name"
                       getter="items"
                       control-id="shopping-lists-item-item-id"
                       :disable="itemsInShoppingList"
                       @add="addItem" />
      <form-field-error :errors="errors" field="item" class="form__field__message" />
    </div>

    <div class="form__field">
      <label for="shopping-lists-item-quantity" class="form__field__label">{{ $t('shopping_lists_items.fields.quantity') }}</label>
      <div class="form__field__control form__field__control--group">
        <input id="shopping-lists-item-quantity" v-model="inputs.quantity" type="number">
        <icon-button icon="remove" label="-" :disabled="inputs.quantity <= 1" @click="inputs.quantity -=1" />
        <icon-button icon="add" label="+" @click="inputs.quantity +=1" />
      </div>
      <form-field-error :errors="errors" field="quantity" class="form__field__message" />
    </div>

    <div class="form__field">
      <label for="shopping-lists-item-assignee_id" class="form__field__label">{{ $t('shopping_lists_items.fields.assignee') }}</label>
      <select id="shopping-lists-item-assignee_id"
              v-model="inputs.assignee_id"
              class="form__field__control">
        <option v-for="user in users" :key="user.id" :value="user.id">{{ user.name }}</option>
      </select>
      <form-field-error :errors="errors" field="quantity" class="form__field__message" />
    </div>

    <div class="form__actions">
      <div class="form__actions__content">
        <loading v-show="loading" />
      </div>
      <button type="button" class="cancel" :disabled="loading" @click="cancel">{{ $t('generic.cancel') }}</button>
      <button type="submit" class="save" :disabled="loading">{{ $t('generic.save') }}</button>
    </div>

    <side-panel :title="$t('items.form.new')" :opened="showItemForm" @close="cancelItemEdition">
      <item-form ref="itemForm" @cancel="cancelItemEdition" />
    </side-panel>
  </form>
</template>

<script>
import Loading from '../ui/Loading'
import FormFieldError from '../ui/forms/FieldError'
import EntitySelector from '../ui/forms/EntitySelector'
import IconButton from '../ui/IconButton'
import SidePanel from '../ui/SidePanel'
import ItemForm from '../items/_Form'

export default {
  name: 'ShoppingListsItemForm',
  components: { ItemForm, SidePanel, IconButton, EntitySelector, Loading, FormFieldError },
  props: {
    shoppingListsItem: { required: false, type: [Object, null], default: null },
    shoppingList: { required: false, type: [Object, null], default: null },
  },
  data () {
    return {
      loading: false,
      errors: null,
      inputs: this.setInputs(),
      showItemForm: false,
    }
  },
  computed: {
    itemsInShoppingList () {
      let shoppingListId
      if (this.$props.shoppingList) {
        shoppingListId = this.$props.shoppingList.id
      } else if (this.$props.shoppingListsItem) {
        shoppingListId = this.$props.shoppingListsItem.shopping_list_id
      }

      if (!shoppingListId) return []

      return this.$store.getters.shoppingListsItemsIn(shoppingListId)
        .map(i => i.item_id)
    },
    shoppingListsWithItem () {
      const itemId = this.inputs.item_id
      if (!itemId) return []

      return this.$store.getters.shoppingListsWithItem(itemId)
    },
    users () { return this.$store.getters.usersInCurrentGroup },
  },
  methods: {
    setInputs () {
      let base = {
        shopping_list_id: '',
        item_id: '',
        quantity: 1,
        assignee_id: '',
      }
      if (this.$props.shoppingListsItem) base = { ...base, ...this.$props.shoppingListsItem }
      if (this.$props.shoppingList) base.shopping_list_id = this.$props.shoppingList.id
      return base
    },
    save () {
      this.loading = true
      this.errors = null
      this.$store.dispatch('saveShoppingListsItem', this.inputs)
        .then(() => { this.$emit('cancel') })
        .catch(({ body }) => { this.errors = body.errors })
        .then(() => { this.loading = false })
    },
    cancel () {
      this.$emit('cancel')
    },
    reset () {
      this.inputs = this.setInputs()
    },
    addItem () {
      this.showItemForm = true
    },
    cancelItemEdition () {
      this.showItemForm = false
      this.$refs.itemForm.reset()
    },
  },
  watch: {
    shoppingListsItem () {
      this.inputs = this.setInputs()
    },
    shoppingList () {
      this.inputs = this.setInputs()
    },
  },
}
</script>
