<template>
  <div class="shopping-lists-item element" :class="{'shopping-lists-item--done' : shoppingListsItem.done}">
    <header class="element__header">
      <timed-feedback ref="titleFeedback"
                      tag="h2"
                      class="element__header__title"
                      :class="{ danger: error}">
        <template slot="feedback">{{ error || $t('generic.form_error') }}</template>
        {{ item.name }}
      </timed-feedback>
      <div class="element__header__detail">
        {{ shoppingListsItem.quantity }}
      </div>
      <icon-button v-if="modifiable"
                   :icon="shoppingListsItem.done ? 'checkbox-checked' : 'checkbox'"
                   class="element__header__action edit"
                   :label="shoppingListsItem.done ? $t('shopping_lists_items.mark_as_todo') : $t('shopping_lists_items.mark_as_done')"
                   @click="done(!shoppingListsItem.done)" />
      <dropdown v-if="!shoppingListsItem.done && !compact"
                :title="shoppingListsItem.assignee_id ? $t('shopping_lists_items.change_assignee') : $t('shopping_lists_items.assign_someone')"
                class="element__header__action"
                :class="dropdownClass">
        <template slot="trigger">
          <template v-if="shoppingListsItem.assignee_id">
            <img v-if="assignee.avatar_50" :src="assignee.avatar_50" alt="Avatar" class="avatar">
            <icon v-else name="user-ok" />
          </template>
          <icon v-else name="user-add" />
        </template>
        <button v-for="user in users" :key="user.id" type="button" @click="assignTo(user.id)">
          <icon v-if="shoppingListsItem.assignee_id === user.id " name="checkmark" />
          {{ user.id === authUser.id ? $t('shopping_lists_items.you') : user.name }}
        </button>
        <button type="button" class="destroy" @click="assignTo(null)">{{ $t('shopping_lists_items.unassign') }}</button>
      </dropdown>
      <dropdown v-if="!shoppingListsItem.done && !compact" :title="$t('generic.more_actions')" icon="more" class="element__header__action">
        <button type="button" class="edit" @click="$emit('edit')">{{ $t('generic.edit') }}</button>
        <button type="button" class="destroy" @click="destroy">{{ $t('generic.remove') }}</button>
      </dropdown>
    </header>
  </div>
</template>

<script>
import DateFiltersMixin from '../../filters/date'

import Dropdown from '../ui/Dropdown'
import TimedFeedback from '../ui/TimedFeedback'
import IconButton from '../ui/IconButton'
import Icon from '../ui/Icon'

/*
Parent component should handle the edition form on @edit
*/
export default {
  name: 'ShoppingListsItemItem',
  components: { Icon, IconButton, TimedFeedback, Dropdown },
  mixins: [DateFiltersMixin],
  props: {
    shoppingListsItem: { required: true, type: Object },
    modifiable: { required: false, type: Boolean, default: true },
    compact: { required: false, type: Boolean, default: false },
  },
  data () {
    return {
      error: null,
    }
  },
  computed: {
    item () { return this.$store.getters.item(this.$props.shoppingListsItem.item_id) },
    users () { return this.$store.getters.usersInCurrentGroup },
    authUser () { return this.$store.getters.authUser },
    assignee () { return this.$store.getters.user(this.$props.shoppingListsItem.assignee_id) },
    dropdownClass () {
      return {
        'dropdown--avatar': this.assignee && this.assignee.avatar_50,
        assigned: this.shoppingListsItem.assignee_id === this.authUser.id,
      }
    },
  },
  methods: {
    destroy () {
      this.error = null
      this.$store.dispatch('destroyShoppingListsItem', this.$props.shoppingListsItem.id)
        .catch(() => { this.error = true })
    },
    done (value = true) {
      this.error = null
      const payload = {
        id: this.$props.shoppingListsItem.id,
        done: value,
      }

      this.$store.dispatch('saveShoppingListsItem', payload)
        .catch(() => { this.error = true })
    },
    assignTo (userId) {
      this.error = null
      const payload = {
        id: this.$props.shoppingListsItem.id,
        assignee_id: userId,
      }
      this.$store.dispatch('saveShoppingListsItem', payload)
        .catch(() => { this.error = true })
    },
  },
  watch: {
    error (newVal) {
      if (newVal) { this.$refs.titleFeedback.start() }
    },
  },
}
</script>
