%h1 OrderlySquirrel - #{@group.name} - #{@shopping_list.name}

%p Hello #{@user.name}

%p You have been assigned to pick the following item:

%table
  %thead
    %th Item
    %th Amount
  %tbody
    %tr
      %td= @item.name
      %td= @shopping_lists_item.quantity

%p
  Check the corresponding
  %a{ href: "#{root_url}/#/shopping_lists/#{@shopping_list.id}" } shopping list
  !

