<%
  title = "OrderlySquirrel - #{@group.name} - #{@shopping_list.name}"
%><%= title %>
<%= '=' * title.length %>

Hello <%= @user.name %>,

You have been assigned to pick the following item:

  - <%= @shopping_lists_item.quantity %> x <%= @item.name %>

Check the corresponding shopping list:
  <%= "#{root_url}/#/shopping_lists/#{@shopping_list.id}" %>
