.toggle-arrow {
  font-size: 1.3em;
  line-height: 0.7em;
  display: inline-block;
  width: 1em;
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.divider {
  font-size: $font-size-base;
  font-weight: $font-weight-subtitle;
  display: flex;
  align-items: center;
  margin: $spacer-medium 0 $spacer-default 0;

  &::after {
    content: "";
    flex: 1;
    height: 1px;
    margin: 0 0 0 $spacer-default;
    background: $border-color-base;
  }

  &::before {
    content: "";
    flex: 1;
    height: 1px;
    margin: 0 $spacer-default 0 0;
    background: $border-color-base;
  }
}
