%item-header {
  display: flex;

  &__title {
    margin: 0;
    padding: $list-item-padding;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    flex-grow: 1;
  }

  &__detail {
    padding: $list-item-padding;
  }

  &__action {
    padding: $list-item-padding;
    border: none;
    border-left: 1px solid $border-color-base;
    background: $action-background-color;
    margin: 0;

    &:hover {
      background: $action-background-hover-color;
    }
  }

  &__action.dropdown {
    display: flex;
    padding: 0;

    > button {
      @extend %item-header__action;

      border: none;
    }

    > menu {
      top: 2rem;
    }
  }
}

%input {
  display: block;
  border-radius: $input-border-radius;
  border: 1px solid $input-border-color;
  background-color: $input-background-color;
  padding: $input-padding;

  &:focus {
    border-color: $input-border-focus-color;
  }
}

%list-item {
  display: block;
  padding: $list-item-padding;
  border: none;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  align-items: center;

  &:not(:first-child) {
    border-top: 1px solid $list-border-color;
  }

  &:hover {
    background-color: $action-background-hover-color;
  }

  &__action {
    @extend %item-header__action;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

%overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
