// Colors
$color-error: #b00100;
$color-error-inverse: whitesmoke;
$color-success: #009850;
$color-success-inverse: whitesmoke;
$color-warning: #c57d00;
$color-warning-inverse: whitesmoke;
$color-info: #0045b0;
$color-info-inverse: whitesmoke;
$color-primary: #8e00b0;
$color-primary-inverse: whitesmoke;

// Generic
$background-color-base: whitesmoke;

// Typography
$font-size-small: 10pt;
$font-size-base: 12pt;
$font-size-subtitle: $font-size-base;
$font-family-base: Ubuntu, Helvetica, Arial, sans-serif;
$font-weight-base: 300;
$font-weight-subtitle: 500;
$font-weight-title: 600;
$font-color-base: #333;
$font-color-muted: transparentize($font-color-base, 0.5);

// Borders
$border-color-base: #ccc;
$list-border-color: real-lighten($border-color-base, 80%);

// Spacers
$spacer-large: 3rem;
$spacer-medium: 2rem;
$spacer-default: 1rem;
$spacer-small: 0.5rem;
$spacer-tiny: 0.2rem;

// Generic component
$component-padding-v: $spacer-small;
$component-padding-h: $spacer-default;
$component-padding: $component-padding-v $component-padding-h;
$component-padding-inverse: (-$component-padding-v) (-$component-padding-h);
$component-background-base: #fff;
$component-font-size-title: $font-size-subtitle;
$component-font-weight-title: $font-weight-subtitle;

// List items
$list-item-v: $component-padding-v;
$list-item-h: $component-padding-h;
$list-item-padding: $list-item-v $list-item-h;

// Actionable elements
$action-background-color: $background-color-base;
$action-background-hover-color: real-darken($component-background-base, 10%);

// Inputs
$input-border-radius: 3px;
$input-border-color: $border-color-base;
$input-border-focus-color: real-darken($border-color-base, 20%);
$input-background-color: $component-background-base;
$input-padding: $spacer-tiny;
$input-padding-inverse: -$spacer-tiny;

// Z-Indexes
$zindex-dropdown: 100;
$zindex-side-panel: 200;

// Toasts
$toast-info-text-color: $color-info-inverse;
$toast-info-background-color: $color-info;

$toast-success-text-color: $color-success-inverse;
$toast-success-background-color: $color-success;

$toast-warning-text-color: $color-warning-inverse;
$toast-warning-background-color: $color-warning;

$toast-danger-text-color: $color-error-inverse;
$toast-danger-background-color: $color-error;

$toast-margin-to-border: $spacer-default;

$toast-width: 350px;
$toast-padding-h: $spacer-default;
$toast-padding-v: $spacer-default;

$toast-transition-duration: 400ms;
$toast-transition-translation: 20px;

// Icons
$icon-color: real-lighten($font-color-base, 50%);

// Dropdown
$dropdown-menu-min-width: 8rem;
