!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'ie=edge' }
    %title OrderlySquirrel
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    %link{ rel: 'apple-touch-icon', sizes: '180x180', href: '/apple-touch-icon.png' }
    %link{ rel: 'icon', type: 'image/png', sizes: '32x32', href: '/favicon-32x32.png' }
    %link{ rel: 'icon', type: 'image/png', sizes: '16x16', href: '/favicon-16x16.png' }
    %link{ rel: 'manifest', href: '/site.webmanifest' }
    %link{ rel: 'mask-icon', href: '/safari-pinned-tab.svg', color: '#5bbad5' }
    %meta{ name: 'msapplication-TileColor', content: '#ffc40d' }
    %meta{ name: 'theme-color', content: '#ffffff' }
  %body
    - unless controller_name == 'home'
      = render 'layouts/navbar'
      = render 'layouts/flash_messages'

    = yield
